
  :root {
    --rad-ui-color-gray-50: hsl(0, 0%, 99.0%);
--rad-ui-color-gray-100: hsl(0, 0%, 97.5%);
--rad-ui-color-gray-200: hsl(0, 0%, 94.6%);
--rad-ui-color-gray-300: hsl(0, 0%, 92.0%);
--rad-ui-color-gray-400: hsl(0, 0%, 89.5%);
--rad-ui-color-gray-500: hsl(0, 0%, 86.8%);
--rad-ui-color-gray-600: hsl(0, 0%, 83.0%);
--rad-ui-color-gray-700: hsl(0, 0%, 73.2%);
--rad-ui-color-gray-800: hsl(0, 0%, 55.2%);
--rad-ui-color-gray-900: hsl(0, 0%, 50.3%);
--rad-ui-color-gray-950: hsl(0, 0%, 39.3%);
--rad-ui-color-gray-1000: hsl(0, 0%, 12.5%);
--rad-ui-color-mauve-50: hsl(300, 26.0%, 99.0%);
--rad-ui-color-mauve-100: hsl(270, 20.0%, 98.0%);
--rad-ui-color-mauve-200: hsl(267, 13.8%, 95.3%);
--rad-ui-color-mauve-300: hsl(265, 12.2%, 92.7%);
--rad-ui-color-mauve-400: hsl(263, 11.6%, 90.3%);
--rad-ui-color-mauve-500: hsl(261, 11.1%, 87.7%);
--rad-ui-color-mauve-600: hsl(257, 10.8%, 84.3%);
--rad-ui-color-mauve-700: hsl(249, 10.4%, 75.5%);
--rad-ui-color-mauve-800: hsl(252, 6.0%, 57.3%);
--rad-ui-color-mauve-900: hsl(250, 5.0%, 52.3%);
--rad-ui-color-mauve-950: hsl(252, 5.0%, 40.7%);
--rad-ui-color-mauve-1000: hsl(260, 10.0%, 13.5%);
--rad-ui-color-slate-50: hsl(240, 22.0%, 99.0%);
--rad-ui-color-slate-100: hsl(240, 20.0%, 98.0%);
--rad-ui-color-slate-200: hsl(239, 13.4%, 95.4%);
--rad-ui-color-slate-300: hsl(238, 11.8%, 92.9%);
--rad-ui-color-slate-400: hsl(237, 11.1%, 90.5%);
--rad-ui-color-slate-500: hsl(236, 10.6%, 87.9%);
--rad-ui-color-slate-600: hsl(234, 10.4%, 84.4%);
--rad-ui-color-slate-700: hsl(231, 10.2%, 75.1%);
--rad-ui-color-slate-800: hsl(230, 6.0%, 57.0%);
--rad-ui-color-slate-900: hsl(227, 5.2%, 51.8%);
--rad-ui-color-slate-950: hsl(227, 5.0%, 40.2%);
--rad-ui-color-slate-1000: hsl(210, 12.0%, 12.5%);
--rad-ui-color-sage-50: hsl(155, 30.0%, 98.8%);
--rad-ui-color-sage-100: hsl(150, 14.3%, 97.3%);
--rad-ui-color-sage-200: hsl(150, 8.0%, 94.5%);
--rad-ui-color-sage-300: hsl(150, 6.0%, 92.0%);
--rad-ui-color-sage-400: hsl(150, 4.9%, 89.5%);
--rad-ui-color-sage-500: hsl(150, 4.3%, 86.7%);
--rad-ui-color-sage-600: hsl(150, 3.7%, 82.8%);
--rad-ui-color-sage-700: hsl(150, 2.9%, 72.9%);
--rad-ui-color-sage-800: hsl(155, 3.5%, 54.2%);
--rad-ui-color-sage-900: hsl(158, 2.9%, 49.3%);
--rad-ui-color-sage-950: hsl(155, 3.0%, 38.5%);
--rad-ui-color-sage-1000: hsl(155, 12.0%, 11.5%);
--rad-ui-color-olive-50: hsl(110, 20.0%, 99.0%);
--rad-ui-color-olive-100: hsl(120, 16.7%, 97.6%);
--rad-ui-color-olive-200: hsl(118, 8.4%, 94.8%);
--rad-ui-color-olive-300: hsl(116, 6.0%, 92.1%);
--rad-ui-color-olive-400: hsl(115, 4.9%, 89.4%);
--rad-ui-color-olive-500: hsl(113, 4.2%, 86.5%);
--rad-ui-color-olive-600: hsl(111, 3.6%, 82.6%);
--rad-ui-color-olive-700: hsl(105, 2.9%, 72.9%);
--rad-ui-color-olive-800: hsl(110, 3.0%, 54.5%);
--rad-ui-color-olive-900: hsl(105, 2.7%, 49.4%);
--rad-ui-color-olive-950: hsl(110, 3.0%, 38.5%);
--rad-ui-color-olive-1000: hsl(110, 8.0%, 12.0%);
--rad-ui-color-sand-50: hsl(50, 20.0%, 99.0%);
--rad-ui-color-sand-100: hsl(60, 7.7%, 97.5%);
--rad-ui-color-sand-200: hsl(59, 5.8%, 94.5%);
--rad-ui-color-sand-300: hsl(58, 5.3%, 91.8%);
--rad-ui-color-sand-400: hsl(57, 5.1%, 89.0%);
--rad-ui-color-sand-500: hsl(56, 5.0%, 86.0%);
--rad-ui-color-sand-600: hsl(54, 4.9%, 81.8%);
--rad-ui-color-sand-700: hsl(51, 5.0%, 72.4%);
--rad-ui-color-sand-800: hsl(60, 3.0%, 53.9%);
--rad-ui-color-sand-900: hsl(60, 2.6%, 49.0%);
--rad-ui-color-sand-950: hsl(50, 2.5%, 38.0%);
--rad-ui-color-sand-1000: hsl(50, 8.0%, 12.0%);
  }

  .rad-ui-dark-theme {
    --rad-ui-color-gray-50: hsl(0, 0%, 9.5%);
--rad-ui-color-gray-100: hsl(0, 0%, 10.5%);
--rad-ui-color-gray-200: hsl(0, 0%, 15.8%);
--rad-ui-color-gray-300: hsl(0, 0%, 18.9%);
--rad-ui-color-gray-400: hsl(0, 0%, 21.7%);
--rad-ui-color-gray-500: hsl(0, 0%, 24.7%);
--rad-ui-color-gray-600: hsl(0, 0%, 29.1%);
--rad-ui-color-gray-700: hsl(0, 0%, 37.5%);
--rad-ui-color-gray-800: hsl(0, 0%, 43.0%);
--rad-ui-color-gray-900: hsl(0, 0%, 50.7%);
--rad-ui-color-gray-950: hsl(0, 0%, 69.5%);
--rad-ui-color-gray-1000: hsl(0, 0%, 93.5%);
--rad-ui-color-mauve-50: hsl(300, 5.0%, 9.5%);
--rad-ui-color-mauve-100: hsl(300, 7.1%, 11.0%);
--rad-ui-color-mauve-200: hsl(290, 6.2%, 16.2%);
--rad-ui-color-mauve-300: hsl(285, 5.8%, 19.5%);
--rad-ui-color-mauve-400: hsl(280, 5.6%, 22.4%);
--rad-ui-color-mauve-500: hsl(276, 5.4%, 25.7%);
--rad-ui-color-mauve-600: hsl(269, 5.3%, 30.3%);
--rad-ui-color-mauve-700: hsl(258, 5.0%, 39.2%);
--rad-ui-color-mauve-800: hsl(250, 5.0%, 45.0%);
--rad-ui-color-mauve-900: hsl(252, 4.3%, 52.3%);
--rad-ui-color-mauve-950: hsl(250, 6.0%, 70.5%);
--rad-ui-color-mauve-1000: hsl(240, 7.0%, 93.8%);
--rad-ui-color-slate-50: hsl(240, 5.0%, 9.8%);
--rad-ui-color-slate-100: hsl(240, 6.9%, 11.4%);
--rad-ui-color-slate-200: hsl(227, 6.7%, 16.4%);
--rad-ui-color-slate-300: hsl(227, 6.6%, 19.4%);
--rad-ui-color-slate-400: hsl(227, 6.5%, 22.1%);
--rad-ui-color-slate-500: hsl(227, 6.4%, 25.1%);
--rad-ui-color-slate-600: hsl(227, 6.2%, 29.4%);
--rad-ui-color-slate-700: hsl(227, 6.0%, 44.0%);
--rad-ui-color-slate-800: hsl(227, 5.3%, 51.5%);
--rad-ui-color-slate-950: hsl(220, 7.0%, 70.0%);
--rad-ui-color-slate-1000: hsl(220, 7.0%, 93.5%);
--rad-ui-color-sage-50: hsl(155, 7.0%, 9.2%);
--rad-ui-color-sage-100: hsl(150, 7.7%, 10.2%);
--rad-ui-color-sage-200: hsl(150, 7.0%, 15.5%);
--rad-ui-color-sage-300: hsl(152, 4.7%, 18.3%);
--rad-ui-color-sage-400: hsl(153, 4.2%, 21.1%);
--rad-ui-color-sage-500: hsl(153, 3.7%, 24.2%);
--rad-ui-color-sage-600: hsl(154, 3.3%, 28.7%);
--rad-ui-color-sage-700: hsl(156, 2.6%, 37.1%);
--rad-ui-color-sage-800: hsl(155, 6.0%, 41.5%);
--rad-ui-color-sage-900: hsl(157, 4.6%, 49.2%);
--rad-ui-color-sage-950: hsl(155, 5.0%, 68.3%);
--rad-ui-color-sage-1000: hsl(155, 7.0%, 93.0%);
--rad-ui-color-olive-50: hsl(110, 5.0%, 9.2%);
--rad-ui-color-olive-100: hsl(120, 5.7%, 10.4%);
--rad-ui-color-olive-200: hsl(120, 4.3%, 15.4%);
--rad-ui-color-olive-300: hsl(120, 3.9%, 18.5%);
--rad-ui-color-olive-400: hsl(120, 3.6%, 21.2%);
--rad-ui-color-olive-500: hsl(120, 3.3%, 24.3%);
--rad-ui-color-olive-600: hsl(120, 3.0%, 28.7%);
--rad-ui-color-olive-700: hsl(120, 2.6%, 37.1%);
--rad-ui-color-olive-800: hsl(110, 6.0%, 41.5%);
--rad-ui-color-olive-900: hsl(106, 4.6%, 49.3%);
--rad-ui-color-olive-950: hsl(110, 5.0%, 68.8%);
--rad-ui-color-olive-1000: hsl(110, 7.0%, 93.0%);
--rad-ui-color-sand-50: hsl(60, 6.0%, 9.0%);
--rad-ui-color-sand-100: hsl(60, 6.9%, 10.4%);
--rad-ui-color-sand-200: hsl(60, 5.2%, 15.4%);
--rad-ui-color-sand-300: hsl(60, 4.7%, 18.5%);
--rad-ui-color-sand-400: hsl(60, 4.4%, 21.2%);
--rad-ui-color-sand-500: hsl(60, 4.1%, 24.3%);
--rad-ui-color-sand-600: hsl(60, 3.8%, 28.7%);
--rad-ui-color-sand-700: hsl(60, 3.3%, 37.1%);
--rad-ui-color-sand-800: hsl(60, 6.0%, 41.5%);
--rad-ui-color-sand-900: hsl(60, 4.6%, 49.3%);
--rad-ui-color-sand-950: hsl(60, 5.0%, 68.8%);
--rad-ui-color-sand-1000: hsl(60, 7.0%, 93.0%);
  }
