
  :root {
    --rad-ui-color-gray-50: hsl(0, 0%, 99.0%);
--rad-ui-color-gray-100: hsl(0, 0%, 97.5%);
--rad-ui-color-gray-200: hsl(0, 0%, 94.6%);
--rad-ui-color-gray-300: hsl(0, 0%, 92.0%);
--rad-ui-color-gray-400: hsl(0, 0%, 89.5%);
--rad-ui-color-gray-500: hsl(0, 0%, 86.8%);
--rad-ui-color-gray-600: hsl(0, 0%, 83.0%);
--rad-ui-color-gray-700: hsl(0, 0%, 73.2%);
--rad-ui-color-gray-800: hsl(0, 0%, 55.2%);
--rad-ui-color-gray-900: hsl(0, 0%, 50.3%);
--rad-ui-color-gray-950: hsl(0, 0%, 39.3%);
--rad-ui-color-gray-1000: hsl(0, 0%, 12.5%);
--rad-ui-color-mauve-50: hsl(300, 26.0%, 99.0%);
--rad-ui-color-mauve-100: hsl(270, 20.0%, 98.0%);
--rad-ui-color-mauve-200: hsl(267, 13.8%, 95.3%);
--rad-ui-color-mauve-300: hsl(265, 12.2%, 92.7%);
--rad-ui-color-mauve-400: hsl(263, 11.6%, 90.3%);
--rad-ui-color-mauve-500: hsl(261, 11.1%, 87.7%);
--rad-ui-color-mauve-600: hsl(257, 10.8%, 84.3%);
--rad-ui-color-mauve-700: hsl(249, 10.4%, 75.5%);
--rad-ui-color-mauve-800: hsl(252, 6.0%, 57.3%);
--rad-ui-color-mauve-900: hsl(250, 5.0%, 52.3%);
--rad-ui-color-mauve-950: hsl(252, 5.0%, 40.7%);
--rad-ui-color-mauve-1000: hsl(260, 10.0%, 13.5%);
--rad-ui-color-slate-50: hsl(240, 22.0%, 99.0%);
--rad-ui-color-slate-100: hsl(240, 20.0%, 98.0%);
--rad-ui-color-slate-200: hsl(239, 13.4%, 95.4%);
--rad-ui-color-slate-300: hsl(238, 11.8%, 92.9%);
--rad-ui-color-slate-400: hsl(237, 11.1%, 90.5%);
--rad-ui-color-slate-500: hsl(236, 10.6%, 87.9%);
--rad-ui-color-slate-600: hsl(234, 10.4%, 84.4%);
--rad-ui-color-slate-700: hsl(231, 10.2%, 75.1%);
--rad-ui-color-slate-800: hsl(230, 6.0%, 57.0%);
--rad-ui-color-slate-900: hsl(227, 5.2%, 51.8%);
--rad-ui-color-slate-950: hsl(227, 5.0%, 40.2%);
--rad-ui-color-slate-1000: hsl(210, 12.0%, 12.5%);
--rad-ui-color-sage-50: hsl(155, 30.0%, 98.8%);
--rad-ui-color-sage-100: hsl(150, 14.3%, 97.3%);
--rad-ui-color-sage-200: hsl(150, 8.0%, 94.5%);
--rad-ui-color-sage-300: hsl(150, 6.0%, 92.0%);
--rad-ui-color-sage-400: hsl(150, 4.9%, 89.5%);
--rad-ui-color-sage-500: hsl(150, 4.3%, 86.7%);
--rad-ui-color-sage-600: hsl(150, 3.7%, 82.8%);
--rad-ui-color-sage-700: hsl(150, 2.9%, 72.9%);
--rad-ui-color-sage-800: hsl(155, 3.5%, 54.2%);
--rad-ui-color-sage-900: hsl(158, 2.9%, 49.3%);
--rad-ui-color-sage-950: hsl(155, 3.0%, 38.5%);
--rad-ui-color-sage-1000: hsl(155, 12.0%, 11.5%);
--rad-ui-color-olive-50: hsl(110, 20.0%, 99.0%);
--rad-ui-color-olive-100: hsl(120, 16.7%, 97.6%);
--rad-ui-color-olive-200: hsl(118, 8.4%, 94.8%);
--rad-ui-color-olive-300: hsl(116, 6.0%, 92.1%);
--rad-ui-color-olive-400: hsl(115, 4.9%, 89.4%);
--rad-ui-color-olive-500: hsl(113, 4.2%, 86.5%);
--rad-ui-color-olive-600: hsl(111, 3.6%, 82.6%);
--rad-ui-color-olive-700: hsl(105, 2.9%, 72.9%);
--rad-ui-color-olive-800: hsl(110, 3.0%, 54.5%);
--rad-ui-color-olive-900: hsl(105, 2.7%, 49.4%);
--rad-ui-color-olive-950: hsl(110, 3.0%, 38.5%);
--rad-ui-color-olive-1000: hsl(110, 8.0%, 12.0%);
--rad-ui-color-sand-50: hsl(50, 20.0%, 99.0%);
--rad-ui-color-sand-100: hsl(60, 7.7%, 97.5%);
--rad-ui-color-sand-200: hsl(59, 5.8%, 94.5%);
--rad-ui-color-sand-300: hsl(58, 5.3%, 91.8%);
--rad-ui-color-sand-400: hsl(57, 5.1%, 89.0%);
--rad-ui-color-sand-500: hsl(56, 5.0%, 86.0%);
--rad-ui-color-sand-600: hsl(54, 4.9%, 81.8%);
--rad-ui-color-sand-700: hsl(51, 5.0%, 72.4%);
--rad-ui-color-sand-800: hsl(60, 3.0%, 53.9%);
--rad-ui-color-sand-900: hsl(60, 2.6%, 49.0%);
--rad-ui-color-sand-950: hsl(50, 2.5%, 38.0%);
--rad-ui-color-sand-1000: hsl(50, 8.0%, 12.0%);
--rad-ui-color-tomato-50: hsl(10, 100%, 99.4%);
--rad-ui-color-tomato-100: hsl(8, 100%, 98.4%);
--rad-ui-color-tomato-200: hsl(8, 100%, 96.6%);
--rad-ui-color-tomato-300: hsl(8, 100%, 94.3%);
--rad-ui-color-tomato-400: hsl(8, 92.8%, 91.0%);
--rad-ui-color-tomato-500: hsl(9, 84.7%, 86.3%);
--rad-ui-color-tomato-600: hsl(10, 77.3%, 79.5%);
--rad-ui-color-tomato-700: hsl(10, 71.6%, 71.0%);
--rad-ui-color-tomato-800: hsl(10, 78.0%, 54.0%);
--rad-ui-color-tomato-900: hsl(10, 71.4%, 49.4%);
--rad-ui-color-tomato-950: hsl(10, 82.0%, 42.0%);
--rad-ui-color-tomato-1000: hsl(8, 50.0%, 24.0%);
--rad-ui-color-red-50: hsl(359, 100%, 99.4%);
--rad-ui-color-red-100: hsl(0, 100%, 98.4%);
--rad-ui-color-red-200: hsl(360, 100%, 96.8%);
--rad-ui-color-red-300: hsl(360, 97.9%, 94.8%);
--rad-ui-color-red-400: hsl(360, 90.2%, 91.9%);
--rad-ui-color-red-500: hsl(360, 81.7%, 87.8%);
--rad-ui-color-red-600: hsl(359, 74.2%, 81.7%);
--rad-ui-color-red-700: hsl(359, 69.5%, 74.3%);
--rad-ui-color-red-800: hsl(358, 75.0%, 59.0%);
--rad-ui-color-red-900: hsl(358, 67.4%, 54.6%);
--rad-ui-color-red-950: hsl(358, 65.0%, 47.0%);
--rad-ui-color-red-1000: hsl(350, 63.0%, 24.0%);
--rad-ui-color-ruby-50: hsl(348, 100%, 99.5%);
--rad-ui-color-ruby-100: hsl(345, 100%, 98.4%);
--rad-ui-color-ruby-200: hsl(345, 89.9%, 96.7%);
--rad-ui-color-ruby-300: hsl(346, 82.6%, 94.4%);
--rad-ui-color-ruby-400: hsl(346, 75.8%, 91.4%);
--rad-ui-color-ruby-500: hsl(347, 69.3%, 87.1%);
--rad-ui-color-ruby-600: hsl(348, 64.3%, 80.9%);
--rad-ui-color-ruby-700: hsl(348, 61.5%, 73.5%);
--rad-ui-color-ruby-800: hsl(348, 75.0%, 58.5%);
--rad-ui-color-ruby-900: hsl(347, 68.6%, 54.1%);
--rad-ui-color-ruby-950: hsl(345, 70.0%, 46.5%);
--rad-ui-color-ruby-1000: hsl(344, 63.0%, 24.0%);
--rad-ui-color-crimson-50: hsl(332, 100%, 99.4%);
--rad-ui-color-crimson-100: hsl(330, 100%, 98.4%);
--rad-ui-color-crimson-200: hsl(331, 85.6%, 96.6%);
--rad-ui-color-crimson-300: hsl(331, 78.1%, 94.2%);
--rad-ui-color-crimson-400: hsl(332, 72.1%, 91.1%);
--rad-ui-color-crimson-500: hsl(333, 67.0%, 86.7%);
--rad-ui-color-crimson-600: hsl(335, 63.5%, 80.4%);
--rad-ui-color-crimson-700: hsl(336, 62.3%, 72.9%);
--rad-ui-color-crimson-800: hsl(336, 80.0%, 57.8%);
--rad-ui-color-crimson-900: hsl(336, 71.3%, 52.8%);
--rad-ui-color-crimson-950: hsl(336, 75.0%, 45.5%);
--rad-ui-color-crimson-1000: hsl(332, 63.0%, 23.5%);
--rad-ui-color-pink-50: hsl(322, 100%, 99.4%);
--rad-ui-color-pink-100: hsl(323, 100%, 98.4%);
--rad-ui-color-pink-200: hsl(323, 86.3%, 96.5%);
--rad-ui-color-pink-300: hsl(323, 78.7%, 94.2%);
--rad-ui-color-pink-400: hsl(323, 72.2%, 91.1%);
--rad-ui-color-pink-500: hsl(323, 66.3%, 86.6%);
--rad-ui-color-pink-600: hsl(323, 62.0%, 80.1%);
--rad-ui-color-pink-700: hsl(323, 60.3%, 72.4%);
--rad-ui-color-pink-800: hsl(322, 65.0%, 54.5%);
--rad-ui-color-pink-900: hsl(322, 62.0%, 49.6%);
--rad-ui-color-pink-950: hsl(322, 75.0%, 44.0%);
--rad-ui-color-pink-1000: hsl(320, 70.0%, 23.2%);
--rad-ui-color-plum-50: hsl(292, 90.0%, 99.4%);
--rad-ui-color-plum-100: hsl(300, 100%, 98.6%);
--rad-ui-color-plum-200: hsl(299, 71.2%, 96.4%);
--rad-ui-color-plum-300: hsl(299, 62.0%, 93.8%);
--rad-ui-color-plum-400: hsl(298, 56.1%, 90.5%);
--rad-ui-color-plum-500: hsl(296, 51.3%, 85.8%);
--rad-ui-color-plum-600: hsl(295, 48.2%, 78.9%);
--rad-ui-color-plum-700: hsl(292, 47.7%, 70.8%);
--rad-ui-color-plum-800: hsl(292, 45.0%, 51.0%);
--rad-ui-color-plum-900: hsl(292, 50.2%, 46.9%);
--rad-ui-color-plum-950: hsl(292, 60.0%, 42.5%);
--rad-ui-color-plum-1000: hsl(291, 57.0%, 23.2%);
--rad-ui-color-purple-50: hsl(280, 65.0%, 99.4%);
--rad-ui-color-purple-100: hsl(276, 100%, 99.0%);
--rad-ui-color-purple-200: hsl(276, 83.1%, 97.0%);
--rad-ui-color-purple-300: hsl(275, 76.4%, 94.7%);
--rad-ui-color-purple-400: hsl(275, 70.8%, 91.8%);
--rad-ui-color-purple-500: hsl(274, 65.4%, 87.8%);
--rad-ui-color-purple-600: hsl(273, 61.0%, 81.7%);
--rad-ui-color-purple-700: hsl(272, 60.0%, 73.5%);
--rad-ui-color-purple-800: hsl(272, 51.0%, 54.0%);
--rad-ui-color-purple-900: hsl(272, 46.8%, 50.3%);
--rad-ui-color-purple-950: hsl(272, 50.0%, 45.8%);
--rad-ui-color-purple-1000: hsl(270, 50.0%, 25.0%);
--rad-ui-color-violet-50: #fdfcfe;
--rad-ui-color-violet-100: #faf8ff;
--rad-ui-color-violet-200: #f4f0fe;
--rad-ui-color-violet-300: #ebe4ff;
--rad-ui-color-violet-400: #e1d9ff;
--rad-ui-color-violet-500: #d4cafe;
--rad-ui-color-violet-600: #c2b5f5;
--rad-ui-color-violet-700: #aa99ec;
--rad-ui-color-violet-800: #6e56cf;
--rad-ui-color-violet-900: #654dc4;
--rad-ui-color-violet-950: #6550b9;
--rad-ui-color-violet-1000: #2f265f;
--rad-ui-color-iris-50: #fdfdff;
--rad-ui-color-iris-100: #f8f8ff;
--rad-ui-color-iris-200: #f0f1fe;
--rad-ui-color-iris-300: #e6e7ff;
--rad-ui-color-iris-400: #dadcff;
--rad-ui-color-iris-500: #cbcdff;
--rad-ui-color-iris-600: #b8baf8;
--rad-ui-color-iris-700: #9b9ef0;
--rad-ui-color-iris-800: #5b5bd6;
--rad-ui-color-iris-900: #5151cd;
--rad-ui-color-iris-950: #5753c6;
--rad-ui-color-iris-1000: #272962;
--rad-ui-color-indigo-50: #fdfdfe;
--rad-ui-color-indigo-100: #f7f9ff;
--rad-ui-color-indigo-200: #edf2fe;
--rad-ui-color-indigo-300: #e1e9ff;
--rad-ui-color-indigo-400: #d2deff;
--rad-ui-color-indigo-500: #c1d0ff;
--rad-ui-color-indigo-600: #abbdf9;
--rad-ui-color-indigo-700: #8da4ef;
--rad-ui-color-indigo-800: #3e63dd;
--rad-ui-color-indigo-900: #3358d4;
--rad-ui-color-indigo-950: #3a5bc7;
--rad-ui-color-indigo-1000: #1f2d5c;
--rad-ui-color-blue-50: #fbfdff;
--rad-ui-color-blue-100: #f4faff;
--rad-ui-color-blue-200: #e6f4fe;
--rad-ui-color-blue-300: #d5efff;
--rad-ui-color-blue-400: #c2e5ff;
--rad-ui-color-blue-500: #acd8fc;
--rad-ui-color-blue-600: #8ec8f6;
--rad-ui-color-blue-700: #5eb1ef;
--rad-ui-color-blue-800: #0090ff;
--rad-ui-color-blue-900: #0588f0;
--rad-ui-color-blue-950: #0d74ce;
--rad-ui-color-blue-1000: #113264;
--rad-ui-color-cyan-50: #fafdfe;
--rad-ui-color-cyan-100: #f2fafb;
--rad-ui-color-cyan-200: #def7f9;
--rad-ui-color-cyan-300: #caf1f6;
--rad-ui-color-cyan-400: #b5e9f0;
--rad-ui-color-cyan-500: #9ddde7;
--rad-ui-color-cyan-600: #7dcedc;
--rad-ui-color-cyan-700: #3db9cf;
--rad-ui-color-cyan-800: #00a2c7;
--rad-ui-color-cyan-900: #0797b9;
--rad-ui-color-cyan-950: #107d98;
--rad-ui-color-cyan-1000: #0d3c48;
--rad-ui-color-teal-50: #fbfefd;
--rad-ui-color-teal-100: #f4fbf7;
--rad-ui-color-teal-200: #e6f7ed;
--rad-ui-color-teal-300: #d6f1e3;
--rad-ui-color-teal-400: #c3e9d7;
--rad-ui-color-teal-500: #acdec8;
--rad-ui-color-teal-600: #8bceb6;
--rad-ui-color-teal-700: #56ba9f;
--rad-ui-color-teal-800: #29a383;
--rad-ui-color-teal-900: #26997b;
--rad-ui-color-teal-950: #208368;
--rad-ui-color-teal-1000: #1d3b31;
--rad-ui-color-jade-50: #fbfefd;
--rad-ui-color-jade-100: #f4fbf7;
--rad-ui-color-jade-200: #e6f7ed;
--rad-ui-color-jade-300: #d6f1e3;
--rad-ui-color-jade-400: #c3e9d7;
--rad-ui-color-jade-500: #acdec8;
--rad-ui-color-jade-600: #8bceb6;
--rad-ui-color-jade-700: #56ba9f;
--rad-ui-color-jade-800: #29a383;
--rad-ui-color-jade-900: #26997b;
--rad-ui-color-jade-950: #208368;
--rad-ui-color-jade-1000: #1d3b31;
--rad-ui-color-green-50: #fbfefc;
--rad-ui-color-green-100: #f4fbf6;
--rad-ui-color-green-200: #e6f6eb;
--rad-ui-color-green-300: #d6f1df;
--rad-ui-color-green-400: #c4e8d1;
--rad-ui-color-green-500: #adddc0;
--rad-ui-color-green-600: #8eceaa;
--rad-ui-color-green-700: #5bb98b;
--rad-ui-color-green-800: #30a46c;
--rad-ui-color-green-900: #2b9a66;
--rad-ui-color-green-950: #218358;
--rad-ui-color-green-1000: #193b2d;
--rad-ui-color-grass-50: #fbfefb;
--rad-ui-color-grass-100: #f5fbf5;
--rad-ui-color-grass-200: #e9f6e9;
--rad-ui-color-grass-300: #daf1db;
--rad-ui-color-grass-400: #c9e8ca;
--rad-ui-color-grass-500: #b2ddb5;
--rad-ui-color-grass-600: #94ce9a;
--rad-ui-color-grass-700: #65ba74;
--rad-ui-color-grass-800: #46a758;
--rad-ui-color-grass-900: #3e9b4f;
--rad-ui-color-grass-950: #2a7e3b;
--rad-ui-color-grass-1000: #203c25;
--rad-ui-color-brown-50: #fefdfc;
--rad-ui-color-brown-100: #fcf9f6;
--rad-ui-color-brown-200: #f6eee7;
--rad-ui-color-brown-300: #f0e4d9;
--rad-ui-color-brown-400: #ebdaca;
--rad-ui-color-brown-500: #e4cdb7;
--rad-ui-color-brown-600: #dcbc9f;
--rad-ui-color-brown-700: #cea37e;
--rad-ui-color-brown-800: #ad7f58;
--rad-ui-color-brown-900: #a07553;
--rad-ui-color-brown-950: #815e46;
--rad-ui-color-brown-1000: #3e332e;
--rad-ui-color-bronze-50: #fdfcfc;
--rad-ui-color-bronze-100: #fcf9f6;
--rad-ui-color-bronze-200: #f6eee7;
--rad-ui-color-bronze-300: #f0e4d9;
--rad-ui-color-bronze-400: #ebdaca;
--rad-ui-color-bronze-500: #e4cdb7;
--rad-ui-color-bronze-600: #dcbc9f;
--rad-ui-color-bronze-700: #cea37e;
--rad-ui-color-bronze-800: #ad7f58;
--rad-ui-color-bronze-900: #a07553;
--rad-ui-color-bronze-950: #815e46;
--rad-ui-color-bronze-1000: #3e332e;
--rad-ui-color-gold-50: #fdfdfc;
--rad-ui-color-gold-100: #faf9f2;
--rad-ui-color-gold-200: #f2f0e7;
--rad-ui-color-gold-300: #eae6db;
--rad-ui-color-gold-400: #e1dccf;
--rad-ui-color-gold-500: #d8d0bf;
--rad-ui-color-gold-600: #cbc0aa;
--rad-ui-color-gold-700: #b9a88d;
--rad-ui-color-gold-800: #978365;
--rad-ui-color-gold-900: #8c7a5e;
--rad-ui-color-gold-950: #71624b;
--rad-ui-color-gold-1000: #3b352b;
--rad-ui-color-sky-50: #f9feff;
--rad-ui-color-sky-100: #f1fafd;
--rad-ui-color-sky-200: #e1f6fd;
--rad-ui-color-sky-300: #d1f0fa;
--rad-ui-color-sky-400: #bee7f5;
--rad-ui-color-sky-500: #a9daed;
--rad-ui-color-sky-600: #8dcae3;
--rad-ui-color-sky-700: #60b3d7;
--rad-ui-color-sky-800: #7ce2fe;
--rad-ui-color-sky-900: #74daf8;
--rad-ui-color-sky-950: #00749e;
--rad-ui-color-sky-1000: #1d3e56;
--rad-ui-color-mint-50: #f9fefd;
--rad-ui-color-mint-100: #f2fbf9;
--rad-ui-color-mint-200: #ddf9f2;
--rad-ui-color-mint-300: #c8f4e9;
--rad-ui-color-mint-400: #b3ecde;
--rad-ui-color-mint-500: #9ce0d0;
--rad-ui-color-mint-600: #7ecfbd;
--rad-ui-color-mint-700: #4cbba5;
--rad-ui-color-mint-800: #86ead4;
--rad-ui-color-mint-900: #7de0cb;
--rad-ui-color-mint-950: #027864;
--rad-ui-color-mint-1000: #16433c;
--rad-ui-color-lime-50: #fcfdfa;
--rad-ui-color-lime-100: #f8faf3;
--rad-ui-color-lime-200: #eef6d6;
--rad-ui-color-lime-300: #e2f0bd;
--rad-ui-color-lime-400: #d3e7a6;
--rad-ui-color-lime-500: #c2da91;
--rad-ui-color-lime-600: #abc978;
--rad-ui-color-lime-700: #8db654;
--rad-ui-color-lime-800: #bdee63;
--rad-ui-color-lime-900: #b0e64c;
--rad-ui-color-lime-950: #5c7c2f;
--rad-ui-color-lime-1000: #37401c;
--rad-ui-color-yellow-50: #fdfdf9;
--rad-ui-color-yellow-100: #fefce9;
--rad-ui-color-yellow-200: #fffab8;
--rad-ui-color-yellow-300: #fff394;
--rad-ui-color-yellow-400: #ffe770;
--rad-ui-color-yellow-500: #f3d768;
--rad-ui-color-yellow-600: #e4c767;
--rad-ui-color-yellow-700: #d5ae39;
--rad-ui-color-yellow-800: #ffe629;
--rad-ui-color-yellow-900: #ffdc00;
--rad-ui-color-yellow-950: #9e6c00;
--rad-ui-color-yellow-1000: #473b1f;
--rad-ui-color-amber-50: #fefdfb;
--rad-ui-color-amber-100: #fefbe9;
--rad-ui-color-amber-200: #fff7c2;
--rad-ui-color-amber-300: #ffee9c;
--rad-ui-color-amber-400: #fbe577;
--rad-ui-color-amber-500: #f3d673;
--rad-ui-color-amber-600: #e9c162;
--rad-ui-color-amber-700: #e2a336;
--rad-ui-color-amber-800: #ffc53d;
--rad-ui-color-amber-900: #ffba18;
--rad-ui-color-amber-950: #ab6400;
--rad-ui-color-amber-1000: #4f3422;
--rad-ui-color-orange-50: #fefcfb;
--rad-ui-color-orange-100: #fff7ed;
--rad-ui-color-orange-200: #ffefd6;
--rad-ui-color-orange-300: #ffdfb5;
--rad-ui-color-orange-400: #ffd19a;
--rad-ui-color-orange-500: #ffc182;
--rad-ui-color-orange-600: #f5ae73;
--rad-ui-color-orange-700: #ec9455;
--rad-ui-color-orange-800: #f76b15;
--rad-ui-color-orange-900: #ef5f00;
--rad-ui-color-orange-950: #cc4e00;
--rad-ui-color-orange-1000: #582d1d;
   
  }

  [data-accent-color=gray]{
--rad-ui-color-accent-50: var(--rad-ui-color-gray-50);
--rad-ui-color-accent-100: var(--rad-ui-color-gray-100);
--rad-ui-color-accent-200: var(--rad-ui-color-gray-200);
--rad-ui-color-accent-300: var(--rad-ui-color-gray-300);
--rad-ui-color-accent-400: var(--rad-ui-color-gray-400);
--rad-ui-color-accent-500: var(--rad-ui-color-gray-500);
--rad-ui-color-accent-600: var(--rad-ui-color-gray-600);
--rad-ui-color-accent-700: var(--rad-ui-color-gray-700);
--rad-ui-color-accent-800: var(--rad-ui-color-gray-800);
--rad-ui-color-accent-900: var(--rad-ui-color-gray-900);
--rad-ui-color-accent-950: var(--rad-ui-color-gray-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-gray-1000);
}
[data-accent-color=mauve]{
--rad-ui-color-accent-50: var(--rad-ui-color-mauve-50);
--rad-ui-color-accent-100: var(--rad-ui-color-mauve-100);
--rad-ui-color-accent-200: var(--rad-ui-color-mauve-200);
--rad-ui-color-accent-300: var(--rad-ui-color-mauve-300);
--rad-ui-color-accent-400: var(--rad-ui-color-mauve-400);
--rad-ui-color-accent-500: var(--rad-ui-color-mauve-500);
--rad-ui-color-accent-600: var(--rad-ui-color-mauve-600);
--rad-ui-color-accent-700: var(--rad-ui-color-mauve-700);
--rad-ui-color-accent-800: var(--rad-ui-color-mauve-800);
--rad-ui-color-accent-900: var(--rad-ui-color-mauve-900);
--rad-ui-color-accent-950: var(--rad-ui-color-mauve-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-mauve-1000);
}
[data-accent-color=slate]{
--rad-ui-color-accent-50: var(--rad-ui-color-slate-50);
--rad-ui-color-accent-100: var(--rad-ui-color-slate-100);
--rad-ui-color-accent-200: var(--rad-ui-color-slate-200);
--rad-ui-color-accent-300: var(--rad-ui-color-slate-300);
--rad-ui-color-accent-400: var(--rad-ui-color-slate-400);
--rad-ui-color-accent-500: var(--rad-ui-color-slate-500);
--rad-ui-color-accent-600: var(--rad-ui-color-slate-600);
--rad-ui-color-accent-700: var(--rad-ui-color-slate-700);
--rad-ui-color-accent-800: var(--rad-ui-color-slate-800);
--rad-ui-color-accent-900: var(--rad-ui-color-slate-900);
--rad-ui-color-accent-950: var(--rad-ui-color-slate-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-slate-1000);
}
[data-accent-color=sage]{
--rad-ui-color-accent-50: var(--rad-ui-color-sage-50);
--rad-ui-color-accent-100: var(--rad-ui-color-sage-100);
--rad-ui-color-accent-200: var(--rad-ui-color-sage-200);
--rad-ui-color-accent-300: var(--rad-ui-color-sage-300);
--rad-ui-color-accent-400: var(--rad-ui-color-sage-400);
--rad-ui-color-accent-500: var(--rad-ui-color-sage-500);
--rad-ui-color-accent-600: var(--rad-ui-color-sage-600);
--rad-ui-color-accent-700: var(--rad-ui-color-sage-700);
--rad-ui-color-accent-800: var(--rad-ui-color-sage-800);
--rad-ui-color-accent-900: var(--rad-ui-color-sage-900);
--rad-ui-color-accent-950: var(--rad-ui-color-sage-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-sage-1000);
}
[data-accent-color=olive]{
--rad-ui-color-accent-50: var(--rad-ui-color-olive-50);
--rad-ui-color-accent-100: var(--rad-ui-color-olive-100);
--rad-ui-color-accent-200: var(--rad-ui-color-olive-200);
--rad-ui-color-accent-300: var(--rad-ui-color-olive-300);
--rad-ui-color-accent-400: var(--rad-ui-color-olive-400);
--rad-ui-color-accent-500: var(--rad-ui-color-olive-500);
--rad-ui-color-accent-600: var(--rad-ui-color-olive-600);
--rad-ui-color-accent-700: var(--rad-ui-color-olive-700);
--rad-ui-color-accent-800: var(--rad-ui-color-olive-800);
--rad-ui-color-accent-900: var(--rad-ui-color-olive-900);
--rad-ui-color-accent-950: var(--rad-ui-color-olive-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-olive-1000);
}
[data-accent-color=sand]{
--rad-ui-color-accent-50: var(--rad-ui-color-sand-50);
--rad-ui-color-accent-100: var(--rad-ui-color-sand-100);
--rad-ui-color-accent-200: var(--rad-ui-color-sand-200);
--rad-ui-color-accent-300: var(--rad-ui-color-sand-300);
--rad-ui-color-accent-400: var(--rad-ui-color-sand-400);
--rad-ui-color-accent-500: var(--rad-ui-color-sand-500);
--rad-ui-color-accent-600: var(--rad-ui-color-sand-600);
--rad-ui-color-accent-700: var(--rad-ui-color-sand-700);
--rad-ui-color-accent-800: var(--rad-ui-color-sand-800);
--rad-ui-color-accent-900: var(--rad-ui-color-sand-900);
--rad-ui-color-accent-950: var(--rad-ui-color-sand-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-sand-1000);
}
[data-accent-color=tomato]{
--rad-ui-color-accent-50: var(--rad-ui-color-tomato-50);
--rad-ui-color-accent-100: var(--rad-ui-color-tomato-100);
--rad-ui-color-accent-200: var(--rad-ui-color-tomato-200);
--rad-ui-color-accent-300: var(--rad-ui-color-tomato-300);
--rad-ui-color-accent-400: var(--rad-ui-color-tomato-400);
--rad-ui-color-accent-500: var(--rad-ui-color-tomato-500);
--rad-ui-color-accent-600: var(--rad-ui-color-tomato-600);
--rad-ui-color-accent-700: var(--rad-ui-color-tomato-700);
--rad-ui-color-accent-800: var(--rad-ui-color-tomato-800);
--rad-ui-color-accent-900: var(--rad-ui-color-tomato-900);
--rad-ui-color-accent-950: var(--rad-ui-color-tomato-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-tomato-1000);
}
[data-accent-color=red]{
--rad-ui-color-accent-50: var(--rad-ui-color-red-50);
--rad-ui-color-accent-100: var(--rad-ui-color-red-100);
--rad-ui-color-accent-200: var(--rad-ui-color-red-200);
--rad-ui-color-accent-300: var(--rad-ui-color-red-300);
--rad-ui-color-accent-400: var(--rad-ui-color-red-400);
--rad-ui-color-accent-500: var(--rad-ui-color-red-500);
--rad-ui-color-accent-600: var(--rad-ui-color-red-600);
--rad-ui-color-accent-700: var(--rad-ui-color-red-700);
--rad-ui-color-accent-800: var(--rad-ui-color-red-800);
--rad-ui-color-accent-900: var(--rad-ui-color-red-900);
--rad-ui-color-accent-950: var(--rad-ui-color-red-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-red-1000);
}
[data-accent-color=ruby]{
--rad-ui-color-accent-50: var(--rad-ui-color-ruby-50);
--rad-ui-color-accent-100: var(--rad-ui-color-ruby-100);
--rad-ui-color-accent-200: var(--rad-ui-color-ruby-200);
--rad-ui-color-accent-300: var(--rad-ui-color-ruby-300);
--rad-ui-color-accent-400: var(--rad-ui-color-ruby-400);
--rad-ui-color-accent-500: var(--rad-ui-color-ruby-500);
--rad-ui-color-accent-600: var(--rad-ui-color-ruby-600);
--rad-ui-color-accent-700: var(--rad-ui-color-ruby-700);
--rad-ui-color-accent-800: var(--rad-ui-color-ruby-800);
--rad-ui-color-accent-900: var(--rad-ui-color-ruby-900);
--rad-ui-color-accent-950: var(--rad-ui-color-ruby-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-ruby-1000);
}
[data-accent-color=crimson]{
--rad-ui-color-accent-50: var(--rad-ui-color-crimson-50);
--rad-ui-color-accent-100: var(--rad-ui-color-crimson-100);
--rad-ui-color-accent-200: var(--rad-ui-color-crimson-200);
--rad-ui-color-accent-300: var(--rad-ui-color-crimson-300);
--rad-ui-color-accent-400: var(--rad-ui-color-crimson-400);
--rad-ui-color-accent-500: var(--rad-ui-color-crimson-500);
--rad-ui-color-accent-600: var(--rad-ui-color-crimson-600);
--rad-ui-color-accent-700: var(--rad-ui-color-crimson-700);
--rad-ui-color-accent-800: var(--rad-ui-color-crimson-800);
--rad-ui-color-accent-900: var(--rad-ui-color-crimson-900);
--rad-ui-color-accent-950: var(--rad-ui-color-crimson-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-crimson-1000);
}
[data-accent-color=pink]{
--rad-ui-color-accent-50: var(--rad-ui-color-pink-50);
--rad-ui-color-accent-100: var(--rad-ui-color-pink-100);
--rad-ui-color-accent-200: var(--rad-ui-color-pink-200);
--rad-ui-color-accent-300: var(--rad-ui-color-pink-300);
--rad-ui-color-accent-400: var(--rad-ui-color-pink-400);
--rad-ui-color-accent-500: var(--rad-ui-color-pink-500);
--rad-ui-color-accent-600: var(--rad-ui-color-pink-600);
--rad-ui-color-accent-700: var(--rad-ui-color-pink-700);
--rad-ui-color-accent-800: var(--rad-ui-color-pink-800);
--rad-ui-color-accent-900: var(--rad-ui-color-pink-900);
--rad-ui-color-accent-950: var(--rad-ui-color-pink-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-pink-1000);
}
[data-accent-color=plum]{
--rad-ui-color-accent-50: var(--rad-ui-color-plum-50);
--rad-ui-color-accent-100: var(--rad-ui-color-plum-100);
--rad-ui-color-accent-200: var(--rad-ui-color-plum-200);
--rad-ui-color-accent-300: var(--rad-ui-color-plum-300);
--rad-ui-color-accent-400: var(--rad-ui-color-plum-400);
--rad-ui-color-accent-500: var(--rad-ui-color-plum-500);
--rad-ui-color-accent-600: var(--rad-ui-color-plum-600);
--rad-ui-color-accent-700: var(--rad-ui-color-plum-700);
--rad-ui-color-accent-800: var(--rad-ui-color-plum-800);
--rad-ui-color-accent-900: var(--rad-ui-color-plum-900);
--rad-ui-color-accent-950: var(--rad-ui-color-plum-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-plum-1000);
}
[data-accent-color=purple]{
--rad-ui-color-accent-50: var(--rad-ui-color-purple-50);
--rad-ui-color-accent-100: var(--rad-ui-color-purple-100);
--rad-ui-color-accent-200: var(--rad-ui-color-purple-200);
--rad-ui-color-accent-300: var(--rad-ui-color-purple-300);
--rad-ui-color-accent-400: var(--rad-ui-color-purple-400);
--rad-ui-color-accent-500: var(--rad-ui-color-purple-500);
--rad-ui-color-accent-600: var(--rad-ui-color-purple-600);
--rad-ui-color-accent-700: var(--rad-ui-color-purple-700);
--rad-ui-color-accent-800: var(--rad-ui-color-purple-800);
--rad-ui-color-accent-900: var(--rad-ui-color-purple-900);
--rad-ui-color-accent-950: var(--rad-ui-color-purple-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-purple-1000);
}
[data-accent-color=violet]{
--rad-ui-color-accent-50: var(--rad-ui-color-violet-50);
--rad-ui-color-accent-100: var(--rad-ui-color-violet-100);
--rad-ui-color-accent-200: var(--rad-ui-color-violet-200);
--rad-ui-color-accent-300: var(--rad-ui-color-violet-300);
--rad-ui-color-accent-400: var(--rad-ui-color-violet-400);
--rad-ui-color-accent-500: var(--rad-ui-color-violet-500);
--rad-ui-color-accent-600: var(--rad-ui-color-violet-600);
--rad-ui-color-accent-700: var(--rad-ui-color-violet-700);
--rad-ui-color-accent-800: var(--rad-ui-color-violet-800);
--rad-ui-color-accent-900: var(--rad-ui-color-violet-900);
--rad-ui-color-accent-950: var(--rad-ui-color-violet-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-violet-1000);
}
[data-accent-color=iris]{
--rad-ui-color-accent-50: var(--rad-ui-color-iris-50);
--rad-ui-color-accent-100: var(--rad-ui-color-iris-100);
--rad-ui-color-accent-200: var(--rad-ui-color-iris-200);
--rad-ui-color-accent-300: var(--rad-ui-color-iris-300);
--rad-ui-color-accent-400: var(--rad-ui-color-iris-400);
--rad-ui-color-accent-500: var(--rad-ui-color-iris-500);
--rad-ui-color-accent-600: var(--rad-ui-color-iris-600);
--rad-ui-color-accent-700: var(--rad-ui-color-iris-700);
--rad-ui-color-accent-800: var(--rad-ui-color-iris-800);
--rad-ui-color-accent-900: var(--rad-ui-color-iris-900);
--rad-ui-color-accent-950: var(--rad-ui-color-iris-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-iris-1000);
}
[data-accent-color=indigo]{
--rad-ui-color-accent-50: var(--rad-ui-color-indigo-50);
--rad-ui-color-accent-100: var(--rad-ui-color-indigo-100);
--rad-ui-color-accent-200: var(--rad-ui-color-indigo-200);
--rad-ui-color-accent-300: var(--rad-ui-color-indigo-300);
--rad-ui-color-accent-400: var(--rad-ui-color-indigo-400);
--rad-ui-color-accent-500: var(--rad-ui-color-indigo-500);
--rad-ui-color-accent-600: var(--rad-ui-color-indigo-600);
--rad-ui-color-accent-700: var(--rad-ui-color-indigo-700);
--rad-ui-color-accent-800: var(--rad-ui-color-indigo-800);
--rad-ui-color-accent-900: var(--rad-ui-color-indigo-900);
--rad-ui-color-accent-950: var(--rad-ui-color-indigo-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-indigo-1000);
}
[data-accent-color=blue]{
--rad-ui-color-accent-50: var(--rad-ui-color-blue-50);
--rad-ui-color-accent-100: var(--rad-ui-color-blue-100);
--rad-ui-color-accent-200: var(--rad-ui-color-blue-200);
--rad-ui-color-accent-300: var(--rad-ui-color-blue-300);
--rad-ui-color-accent-400: var(--rad-ui-color-blue-400);
--rad-ui-color-accent-500: var(--rad-ui-color-blue-500);
--rad-ui-color-accent-600: var(--rad-ui-color-blue-600);
--rad-ui-color-accent-700: var(--rad-ui-color-blue-700);
--rad-ui-color-accent-800: var(--rad-ui-color-blue-800);
--rad-ui-color-accent-900: var(--rad-ui-color-blue-900);
--rad-ui-color-accent-950: var(--rad-ui-color-blue-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-blue-1000);
}
[data-accent-color=cyan]{
--rad-ui-color-accent-50: var(--rad-ui-color-cyan-50);
--rad-ui-color-accent-100: var(--rad-ui-color-cyan-100);
--rad-ui-color-accent-200: var(--rad-ui-color-cyan-200);
--rad-ui-color-accent-300: var(--rad-ui-color-cyan-300);
--rad-ui-color-accent-400: var(--rad-ui-color-cyan-400);
--rad-ui-color-accent-500: var(--rad-ui-color-cyan-500);
--rad-ui-color-accent-600: var(--rad-ui-color-cyan-600);
--rad-ui-color-accent-700: var(--rad-ui-color-cyan-700);
--rad-ui-color-accent-800: var(--rad-ui-color-cyan-800);
--rad-ui-color-accent-900: var(--rad-ui-color-cyan-900);
--rad-ui-color-accent-950: var(--rad-ui-color-cyan-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-cyan-1000);
}
[data-accent-color=teal]{
--rad-ui-color-accent-50: var(--rad-ui-color-teal-50);
--rad-ui-color-accent-100: var(--rad-ui-color-teal-100);
--rad-ui-color-accent-200: var(--rad-ui-color-teal-200);
--rad-ui-color-accent-300: var(--rad-ui-color-teal-300);
--rad-ui-color-accent-400: var(--rad-ui-color-teal-400);
--rad-ui-color-accent-500: var(--rad-ui-color-teal-500);
--rad-ui-color-accent-600: var(--rad-ui-color-teal-600);
--rad-ui-color-accent-700: var(--rad-ui-color-teal-700);
--rad-ui-color-accent-800: var(--rad-ui-color-teal-800);
--rad-ui-color-accent-900: var(--rad-ui-color-teal-900);
--rad-ui-color-accent-950: var(--rad-ui-color-teal-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-teal-1000);
}
[data-accent-color=jade]{
--rad-ui-color-accent-50: var(--rad-ui-color-jade-50);
--rad-ui-color-accent-100: var(--rad-ui-color-jade-100);
--rad-ui-color-accent-200: var(--rad-ui-color-jade-200);
--rad-ui-color-accent-300: var(--rad-ui-color-jade-300);
--rad-ui-color-accent-400: var(--rad-ui-color-jade-400);
--rad-ui-color-accent-500: var(--rad-ui-color-jade-500);
--rad-ui-color-accent-600: var(--rad-ui-color-jade-600);
--rad-ui-color-accent-700: var(--rad-ui-color-jade-700);
--rad-ui-color-accent-800: var(--rad-ui-color-jade-800);
--rad-ui-color-accent-900: var(--rad-ui-color-jade-900);
--rad-ui-color-accent-950: var(--rad-ui-color-jade-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-jade-1000);
}
[data-accent-color=green]{
--rad-ui-color-accent-50: var(--rad-ui-color-green-50);
--rad-ui-color-accent-100: var(--rad-ui-color-green-100);
--rad-ui-color-accent-200: var(--rad-ui-color-green-200);
--rad-ui-color-accent-300: var(--rad-ui-color-green-300);
--rad-ui-color-accent-400: var(--rad-ui-color-green-400);
--rad-ui-color-accent-500: var(--rad-ui-color-green-500);
--rad-ui-color-accent-600: var(--rad-ui-color-green-600);
--rad-ui-color-accent-700: var(--rad-ui-color-green-700);
--rad-ui-color-accent-800: var(--rad-ui-color-green-800);
--rad-ui-color-accent-900: var(--rad-ui-color-green-900);
--rad-ui-color-accent-950: var(--rad-ui-color-green-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-green-1000);
}
[data-accent-color=grass]{
--rad-ui-color-accent-50: var(--rad-ui-color-grass-50);
--rad-ui-color-accent-100: var(--rad-ui-color-grass-100);
--rad-ui-color-accent-200: var(--rad-ui-color-grass-200);
--rad-ui-color-accent-300: var(--rad-ui-color-grass-300);
--rad-ui-color-accent-400: var(--rad-ui-color-grass-400);
--rad-ui-color-accent-500: var(--rad-ui-color-grass-500);
--rad-ui-color-accent-600: var(--rad-ui-color-grass-600);
--rad-ui-color-accent-700: var(--rad-ui-color-grass-700);
--rad-ui-color-accent-800: var(--rad-ui-color-grass-800);
--rad-ui-color-accent-900: var(--rad-ui-color-grass-900);
--rad-ui-color-accent-950: var(--rad-ui-color-grass-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-grass-1000);
}
[data-accent-color=brown]{
--rad-ui-color-accent-50: var(--rad-ui-color-brown-50);
--rad-ui-color-accent-100: var(--rad-ui-color-brown-100);
--rad-ui-color-accent-200: var(--rad-ui-color-brown-200);
--rad-ui-color-accent-300: var(--rad-ui-color-brown-300);
--rad-ui-color-accent-400: var(--rad-ui-color-brown-400);
--rad-ui-color-accent-500: var(--rad-ui-color-brown-500);
--rad-ui-color-accent-600: var(--rad-ui-color-brown-600);
--rad-ui-color-accent-700: var(--rad-ui-color-brown-700);
--rad-ui-color-accent-800: var(--rad-ui-color-brown-800);
--rad-ui-color-accent-900: var(--rad-ui-color-brown-900);
--rad-ui-color-accent-950: var(--rad-ui-color-brown-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-brown-1000);
}
[data-accent-color=bronze]{
--rad-ui-color-accent-50: var(--rad-ui-color-bronze-50);
--rad-ui-color-accent-100: var(--rad-ui-color-bronze-100);
--rad-ui-color-accent-200: var(--rad-ui-color-bronze-200);
--rad-ui-color-accent-300: var(--rad-ui-color-bronze-300);
--rad-ui-color-accent-400: var(--rad-ui-color-bronze-400);
--rad-ui-color-accent-500: var(--rad-ui-color-bronze-500);
--rad-ui-color-accent-600: var(--rad-ui-color-bronze-600);
--rad-ui-color-accent-700: var(--rad-ui-color-bronze-700);
--rad-ui-color-accent-800: var(--rad-ui-color-bronze-800);
--rad-ui-color-accent-900: var(--rad-ui-color-bronze-900);
--rad-ui-color-accent-950: var(--rad-ui-color-bronze-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-bronze-1000);
}
[data-accent-color=gold]{
--rad-ui-color-accent-50: var(--rad-ui-color-gold-50);
--rad-ui-color-accent-100: var(--rad-ui-color-gold-100);
--rad-ui-color-accent-200: var(--rad-ui-color-gold-200);
--rad-ui-color-accent-300: var(--rad-ui-color-gold-300);
--rad-ui-color-accent-400: var(--rad-ui-color-gold-400);
--rad-ui-color-accent-500: var(--rad-ui-color-gold-500);
--rad-ui-color-accent-600: var(--rad-ui-color-gold-600);
--rad-ui-color-accent-700: var(--rad-ui-color-gold-700);
--rad-ui-color-accent-800: var(--rad-ui-color-gold-800);
--rad-ui-color-accent-900: var(--rad-ui-color-gold-900);
--rad-ui-color-accent-950: var(--rad-ui-color-gold-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-gold-1000);
}
[data-accent-color=sky]{
--rad-ui-color-accent-50: var(--rad-ui-color-sky-50);
--rad-ui-color-accent-100: var(--rad-ui-color-sky-100);
--rad-ui-color-accent-200: var(--rad-ui-color-sky-200);
--rad-ui-color-accent-300: var(--rad-ui-color-sky-300);
--rad-ui-color-accent-400: var(--rad-ui-color-sky-400);
--rad-ui-color-accent-500: var(--rad-ui-color-sky-500);
--rad-ui-color-accent-600: var(--rad-ui-color-sky-600);
--rad-ui-color-accent-700: var(--rad-ui-color-sky-700);
--rad-ui-color-accent-800: var(--rad-ui-color-sky-800);
--rad-ui-color-accent-900: var(--rad-ui-color-sky-900);
--rad-ui-color-accent-950: var(--rad-ui-color-sky-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-sky-1000);
}
[data-accent-color=mint]{
--rad-ui-color-accent-50: var(--rad-ui-color-mint-50);
--rad-ui-color-accent-100: var(--rad-ui-color-mint-100);
--rad-ui-color-accent-200: var(--rad-ui-color-mint-200);
--rad-ui-color-accent-300: var(--rad-ui-color-mint-300);
--rad-ui-color-accent-400: var(--rad-ui-color-mint-400);
--rad-ui-color-accent-500: var(--rad-ui-color-mint-500);
--rad-ui-color-accent-600: var(--rad-ui-color-mint-600);
--rad-ui-color-accent-700: var(--rad-ui-color-mint-700);
--rad-ui-color-accent-800: var(--rad-ui-color-mint-800);
--rad-ui-color-accent-900: var(--rad-ui-color-mint-900);
--rad-ui-color-accent-950: var(--rad-ui-color-mint-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-mint-1000);
}
[data-accent-color=lime]{
--rad-ui-color-accent-50: var(--rad-ui-color-lime-50);
--rad-ui-color-accent-100: var(--rad-ui-color-lime-100);
--rad-ui-color-accent-200: var(--rad-ui-color-lime-200);
--rad-ui-color-accent-300: var(--rad-ui-color-lime-300);
--rad-ui-color-accent-400: var(--rad-ui-color-lime-400);
--rad-ui-color-accent-500: var(--rad-ui-color-lime-500);
--rad-ui-color-accent-600: var(--rad-ui-color-lime-600);
--rad-ui-color-accent-700: var(--rad-ui-color-lime-700);
--rad-ui-color-accent-800: var(--rad-ui-color-lime-800);
--rad-ui-color-accent-900: var(--rad-ui-color-lime-900);
--rad-ui-color-accent-950: var(--rad-ui-color-lime-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-lime-1000);
}
[data-accent-color=yellow]{
--rad-ui-color-accent-50: var(--rad-ui-color-yellow-50);
--rad-ui-color-accent-100: var(--rad-ui-color-yellow-100);
--rad-ui-color-accent-200: var(--rad-ui-color-yellow-200);
--rad-ui-color-accent-300: var(--rad-ui-color-yellow-300);
--rad-ui-color-accent-400: var(--rad-ui-color-yellow-400);
--rad-ui-color-accent-500: var(--rad-ui-color-yellow-500);
--rad-ui-color-accent-600: var(--rad-ui-color-yellow-600);
--rad-ui-color-accent-700: var(--rad-ui-color-yellow-700);
--rad-ui-color-accent-800: var(--rad-ui-color-yellow-800);
--rad-ui-color-accent-900: var(--rad-ui-color-yellow-900);
--rad-ui-color-accent-950: var(--rad-ui-color-yellow-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-yellow-1000);
}
[data-accent-color=amber]{
--rad-ui-color-accent-50: var(--rad-ui-color-amber-50);
--rad-ui-color-accent-100: var(--rad-ui-color-amber-100);
--rad-ui-color-accent-200: var(--rad-ui-color-amber-200);
--rad-ui-color-accent-300: var(--rad-ui-color-amber-300);
--rad-ui-color-accent-400: var(--rad-ui-color-amber-400);
--rad-ui-color-accent-500: var(--rad-ui-color-amber-500);
--rad-ui-color-accent-600: var(--rad-ui-color-amber-600);
--rad-ui-color-accent-700: var(--rad-ui-color-amber-700);
--rad-ui-color-accent-800: var(--rad-ui-color-amber-800);
--rad-ui-color-accent-900: var(--rad-ui-color-amber-900);
--rad-ui-color-accent-950: var(--rad-ui-color-amber-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-amber-1000);
}
[data-accent-color=orange]{
--rad-ui-color-accent-50: var(--rad-ui-color-orange-50);
--rad-ui-color-accent-100: var(--rad-ui-color-orange-100);
--rad-ui-color-accent-200: var(--rad-ui-color-orange-200);
--rad-ui-color-accent-300: var(--rad-ui-color-orange-300);
--rad-ui-color-accent-400: var(--rad-ui-color-orange-400);
--rad-ui-color-accent-500: var(--rad-ui-color-orange-500);
--rad-ui-color-accent-600: var(--rad-ui-color-orange-600);
--rad-ui-color-accent-700: var(--rad-ui-color-orange-700);
--rad-ui-color-accent-800: var(--rad-ui-color-orange-800);
--rad-ui-color-accent-900: var(--rad-ui-color-orange-900);
--rad-ui-color-accent-950: var(--rad-ui-color-orange-950);
--rad-ui-color-accent-1000: var(--rad-ui-color-orange-1000);
}


  .rad-ui-dark-theme {
    --rad-ui-color-gray-50: hsl(0, 0%, 9.5%);
--rad-ui-color-gray-100: hsl(0, 0%, 10.5%);
--rad-ui-color-gray-200: hsl(0, 0%, 15.8%);
--rad-ui-color-gray-300: hsl(0, 0%, 18.9%);
--rad-ui-color-gray-400: hsl(0, 0%, 21.7%);
--rad-ui-color-gray-500: hsl(0, 0%, 24.7%);
--rad-ui-color-gray-600: hsl(0, 0%, 29.1%);
--rad-ui-color-gray-700: hsl(0, 0%, 37.5%);
--rad-ui-color-gray-800: hsl(0, 0%, 43.0%);
--rad-ui-color-gray-900: hsl(0, 0%, 50.7%);
--rad-ui-color-gray-950: hsl(0, 0%, 69.5%);
--rad-ui-color-gray-1000: hsl(0, 0%, 93.5%);
--rad-ui-color-mauve-50: hsl(300, 5.0%, 9.5%);
--rad-ui-color-mauve-100: hsl(300, 7.1%, 11.0%);
--rad-ui-color-mauve-200: hsl(290, 6.2%, 16.2%);
--rad-ui-color-mauve-300: hsl(285, 5.8%, 19.5%);
--rad-ui-color-mauve-400: hsl(280, 5.6%, 22.4%);
--rad-ui-color-mauve-500: hsl(276, 5.4%, 25.7%);
--rad-ui-color-mauve-600: hsl(269, 5.3%, 30.3%);
--rad-ui-color-mauve-700: hsl(258, 5.0%, 39.2%);
--rad-ui-color-mauve-800: hsl(250, 5.0%, 45.0%);
--rad-ui-color-mauve-900: hsl(252, 4.3%, 52.3%);
--rad-ui-color-mauve-950: hsl(250, 6.0%, 70.5%);
--rad-ui-color-mauve-1000: hsl(240, 7.0%, 93.8%);
--rad-ui-color-slate-50: hsl(240, 5.0%, 9.8%);
--rad-ui-color-slate-100: hsl(240, 6.9%, 11.4%);
--rad-ui-color-slate-200: hsl(227, 6.7%, 16.4%);
--rad-ui-color-slate-300: hsl(222, 6.6%, 19.4%);
--rad-ui-color-slate-400: hsl(218, 6.5%, 22.1%);
--rad-ui-color-slate-500: hsl(214, 6.4%, 25.1%);
--rad-ui-color-slate-600: hsl(209, 6.2%, 29.4%);
--rad-ui-color-slate-700: hsl(202, 5.8%, 37.5%);
--rad-ui-color-slate-800: hsl(220, 6.0%, 44.0%);
--rad-ui-color-slate-900: hsl(218, 5.3%, 51.5%);
--rad-ui-color-slate-950: hsl(220, 7.0%, 70.0%);
--rad-ui-color-slate-1000: hsl(220, 7.0%, 93.5%);
--rad-ui-color-sage-50: hsl(155, 7.0%, 9.2%);
--rad-ui-color-sage-100: hsl(150, 7.7%, 10.2%);
--rad-ui-color-sage-200: hsl(150, 7.0%, 15.5%);
--rad-ui-color-sage-300: hsl(152, 4.7%, 18.3%);
--rad-ui-color-sage-400: hsl(153, 4.2%, 21.1%);
--rad-ui-color-sage-500: hsl(153, 3.7%, 24.2%);
--rad-ui-color-sage-600: hsl(154, 3.3%, 28.7%);
--rad-ui-color-sage-700: hsl(156, 2.6%, 37.1%);
--rad-ui-color-sage-800: hsl(155, 6.0%, 41.5%);
--rad-ui-color-sage-900: hsl(157, 4.6%, 49.2%);
--rad-ui-color-sage-950: hsl(155, 5.0%, 68.3%);
--rad-ui-color-sage-1000: hsl(155, 7.0%, 93.0%);
--rad-ui-color-olive-50: hsl(110, 5.0%, 9.2%);
--rad-ui-color-olive-100: hsl(120, 5.7%, 10.4%);
--rad-ui-color-olive-200: hsl(120, 4.3%, 15.4%);
--rad-ui-color-olive-300: hsl(120, 3.9%, 18.5%);
--rad-ui-color-olive-400: hsl(120, 3.6%, 21.2%);
--rad-ui-color-olive-500: hsl(120, 3.3%, 24.3%);
--rad-ui-color-olive-600: hsl(120, 3.0%, 28.7%);
--rad-ui-color-olive-700: hsl(120, 2.6%, 37.1%);
--rad-ui-color-olive-800: hsl(110, 6.0%, 41.5%);
--rad-ui-color-olive-900: hsl(106, 4.6%, 49.3%);
--rad-ui-color-olive-950: hsl(110, 5.0%, 68.8%);
--rad-ui-color-olive-1000: hsl(110, 7.0%, 93.0%);
--rad-ui-color-sand-50: hsl(60, 6.0%, 9.0%);
--rad-ui-color-sand-100: hsl(60, 6.9%, 10.4%);
--rad-ui-color-sand-200: hsl(60, 5.2%, 15.4%);
--rad-ui-color-sand-300: hsl(60, 4.7%, 18.5%);
--rad-ui-color-sand-400: hsl(60, 4.4%, 21.2%);
--rad-ui-color-sand-500: hsl(60, 4.1%, 24.3%);
--rad-ui-color-sand-600: hsl(60, 3.8%, 28.7%);
--rad-ui-color-sand-700: hsl(60, 3.3%, 37.1%);
--rad-ui-color-sand-800: hsl(60, 6.0%, 41.5%);
--rad-ui-color-sand-900: hsl(60, 4.6%, 49.3%);
--rad-ui-color-sand-950: hsl(60, 5.0%, 68.8%);
--rad-ui-color-sand-1000: hsl(60, 7.0%, 93.0%);
--rad-ui-color-tomato-50: hsl(10, 23.0%, 9.4%);
--rad-ui-color-tomato-100: hsl(10, 39.0%, 11.6%);
--rad-ui-color-tomato-200: hsl(9, 48.3%, 15.5%);
--rad-ui-color-tomato-300: hsl(9, 53.0%, 18.1%);
--rad-ui-color-tomato-400: hsl(9, 57.0%, 20.7%);
--rad-ui-color-tomato-500: hsl(9, 61.8%, 24.5%);
--rad-ui-color-tomato-600: hsl(9, 68.4%, 31.1%);
--rad-ui-color-tomato-700: hsl(10, 80.4%, 43.9%);
--rad-ui-color-tomato-800: hsl(10, 78.0%, 54.0%);
--rad-ui-color-tomato-900: hsl(10, 88.4%, 64.1%);
--rad-ui-color-tomato-950: hsl(10, 100%, 72.0%);
--rad-ui-color-tomato-1000: hsl(10, 85.0%, 89.0%);
--rad-ui-color-red-50: hsl(353, 23.0%, 9.8%);
--rad-ui-color-red-100: hsl(354, 30.2%, 12.4%);
--rad-ui-color-red-200: hsl(353, 40.8%, 16.4%);
--rad-ui-color-red-300: hsl(353, 46.3%, 19.2%);
--rad-ui-color-red-400: hsl(353, 51.2%, 22.1%);
--rad-ui-color-red-500: hsl(353, 57.3%, 26.2%);
--rad-ui-color-red-600: hsl(354, 65.7%, 33.2%);
--rad-ui-color-red-700: hsl(358, 75.0%, 47.1%);
--rad-ui-color-red-800: hsl(358, 75.0%, 59.0%);
--rad-ui-color-red-900: hsl(359, 84.8%, 67.6%);
--rad-ui-color-red-950: hsl(358, 100%, 76.0%);
--rad-ui-color-red-1000: hsl(350, 100%, 91.0%);
--rad-ui-color-ruby-50: hsl(343, 23.0%, 10.0%);
--rad-ui-color-ruby-100: hsl(349, 33.3%, 12.4%);
--rad-ui-color-ruby-200: hsl(348, 42.2%, 16.4%);
--rad-ui-color-ruby-300: hsl(348, 46.8%, 19.1%);
--rad-ui-color-ruby-400: hsl(348, 50.7%, 21.7%);
--rad-ui-color-ruby-500: hsl(348, 56.0%, 25.7%);
--rad-ui-color-ruby-600: hsl(348, 64.3%, 33.0%);
--rad-ui-color-ruby-700: hsl(348, 77.0%, 46.1%);
--rad-ui-color-ruby-800: hsl(348, 75.0%, 58.5%);
--rad-ui-color-ruby-900: hsl(349, 84.1%, 67.1%);
--rad-ui-color-ruby-950: hsl(348, 100%, 76.0%);
--rad-ui-color-ruby-1000: hsl(340, 95.0%, 91.0%);
--rad-ui-color-crimson-50: hsl(335, 20.0%, 9.6%);
--rad-ui-color-crimson-100: hsl(336, 32.3%, 12.2%);
--rad-ui-color-crimson-200: hsl(336, 40.2%, 16.0%);
--rad-ui-color-crimson-300: hsl(336, 44.4%, 18.5%);
--rad-ui-color-crimson-400: hsl(336, 48.4%, 21.3%);
--rad-ui-color-crimson-500: hsl(336, 53.9%, 25.5%);
--rad-ui-color-crimson-600: hsl(336, 62.7%, 32.8%);
--rad-ui-color-crimson-700: hsl(336, 80.0%, 45.1%);
--rad-ui-color-crimson-800: hsl(336, 80.0%, 57.8%);
--rad-ui-color-crimson-900: hsl(339, 87.0%, 67.2%);
--rad-ui-color-crimson-950: hsl(341, 100%, 76.0%);
--rad-ui-color-crimson-1000: hsl(330, 90.0%, 91.0%);
--rad-ui-color-pink-50: hsl(318, 20.0%, 9.6%);
--rad-ui-color-pink-100: hsl(318, 32.3%, 12.2%);
--rad-ui-color-pink-200: hsl(318, 37.1%, 15.7%);
--rad-ui-color-pink-300: hsl(318, 39.8%, 18.1%);
--rad-ui-color-pink-400: hsl(318, 42.3%, 20.8%);
--rad-ui-color-pink-500: hsl(318, 45.8%, 24.9%);
--rad-ui-color-pink-600: hsl(318, 51.2%, 32.2%);
--rad-ui-color-pink-700: hsl(318, 60.0%, 46.1%);
--rad-ui-color-pink-800: hsl(318, 65.0%, 54.5%);
--rad-ui-color-pink-900: hsl(318, 71.5%, 63.2%);
--rad-ui-color-pink-950: hsl(318, 90.0%, 75.0%);
--rad-ui-color-pink-1000: hsl(318, 90.0%, 90.5%);
--rad-ui-color-plum-50: hsl(301, 20.0%, 9.4%);
--rad-ui-color-plum-100: hsl(300, 28.8%, 11.6%);
--rad-ui-color-plum-200: hsl(299, 31.8%, 15.5%);
--rad-ui-color-plum-300: hsl(298, 33.4%, 18.3%);
--rad-ui-color-plum-400: hsl(297, 34.6%, 21.0%);
--rad-ui-color-plum-500: hsl(296, 36.0%, 25.1%);
--rad-ui-color-plum-600: hsl(295, 37.9%, 32.7%);
--rad-ui-color-plum-700: hsl(292, 40.2%, 47.8%);
--rad-ui-color-plum-800: hsl(292, 45.0%, 51.0%);
--rad-ui-color-plum-900: hsl(291, 51.2%, 60.2%);
--rad-ui-color-plum-950: hsl(290, 70.0%, 74.0%);
--rad-ui-color-plum-1000: hsl(300, 60.0%, 89.5%);
--rad-ui-color-purple-50: hsl(284, 20.0%, 9.6%);
--rad-ui-color-purple-100: hsl(284, 31.1%, 12.0%);
--rad-ui-color-purple-200: hsl(282, 35.1%, 16.8%);
--rad-ui-color-purple-300: hsl(281, 36.9%, 20.1%);
--rad-ui-color-purple-400: hsl(280, 38.1%, 23.0%);
--rad-ui-color-purple-500: hsl(278, 39.5%, 27.3%);
--rad-ui-color-purple-600: hsl(276, 41.1%, 35.1%);
--rad-ui-color-purple-700: hsl(272, 42.7%, 50.0%);
--rad-ui-color-purple-800: hsl(272, 51.0%, 54.0%);
--rad-ui-color-purple-900: hsl(271, 57.8%, 61.2%);
--rad-ui-color-purple-950: hsl(270, 90.0%, 78.0%);
--rad-ui-color-purple-1000: hsl(275, 75.0%, 91.5%);
--rad-ui-color-violet-50: #14121f;
--rad-ui-color-violet-100: #1b1525;
--rad-ui-color-violet-200: #291f43;
--rad-ui-color-violet-300: #33255b;
--rad-ui-color-violet-400: #3c2e69;
--rad-ui-color-violet-500: #473876;
--rad-ui-color-violet-600: #56468b;
--rad-ui-color-violet-700: #6958ad;
--rad-ui-color-violet-800: #6e56cf;
--rad-ui-color-violet-900: #7d66d9;
--rad-ui-color-violet-950: #baa7ff;
--rad-ui-color-violet-1000: #e2ddfe;
--rad-ui-color-iris-50: #13131e;
--rad-ui-color-iris-100: #171625;
--rad-ui-color-iris-200: #202248;
--rad-ui-color-iris-300: #262a65;
--rad-ui-color-iris-400: #303374;
--rad-ui-color-iris-500: #3d3e82;
--rad-ui-color-iris-600: #4a4a95;
--rad-ui-color-iris-700: #5958b1;
--rad-ui-color-iris-800: #5b5bd6;
--rad-ui-color-iris-900: #6e6ade;
--rad-ui-color-iris-950: #b1a9ff;
--rad-ui-color-iris-1000: #e0dffe;
--rad-ui-color-indigo-50: #11131f;
--rad-ui-color-indigo-100: #141726;
--rad-ui-color-indigo-200: #182449;
--rad-ui-color-indigo-300: #1d2e62;
--rad-ui-color-indigo-400: #253974;
--rad-ui-color-indigo-500: #304384;
--rad-ui-color-indigo-600: #3a4f97;
--rad-ui-color-indigo-700: #435db1;
--rad-ui-color-indigo-800: #3e63dd;
--rad-ui-color-indigo-900: #5472e4;
--rad-ui-color-indigo-950: #9eb1ff;
--rad-ui-color-indigo-1000: #d6e1ff;
--rad-ui-color-blue-50: #0d1520;
--rad-ui-color-blue-100: #111927;
--rad-ui-color-blue-200: #0d2847;
--rad-ui-color-blue-300: #003362;
--rad-ui-color-blue-400: #004074;
--rad-ui-color-blue-500: #104d87;
--rad-ui-color-blue-600: #205d9e;
--rad-ui-color-blue-700: #2870bd;
--rad-ui-color-blue-800: #0090ff;
--rad-ui-color-blue-900: #3b9eff;
--rad-ui-color-blue-950: #70b8ff;
--rad-ui-color-blue-1000: #c2e6ff;
--rad-ui-color-cyan-50: #0b161a;
--rad-ui-color-cyan-100: #101b20;
--rad-ui-color-cyan-200: #082c36;
--rad-ui-color-cyan-300: #003848;
--rad-ui-color-cyan-400: #004558;
--rad-ui-color-cyan-500: #045468;
--rad-ui-color-cyan-600: #12677e;
--rad-ui-color-cyan-700: #11809c;
--rad-ui-color-cyan-800: #00a2c7;
--rad-ui-color-cyan-900: #23afd0;
--rad-ui-color-cyan-950: #4ccce6;
--rad-ui-color-cyan-1000: #b6ecf7;
--rad-ui-color-teal-50: #0d1512;
--rad-ui-color-teal-100: #121c18;
--rad-ui-color-teal-200: #0f2e22;
--rad-ui-color-teal-300: #0b3b2c;
--rad-ui-color-teal-400: #114837;
--rad-ui-color-teal-500: #1b5745;
--rad-ui-color-teal-600: #246854;
--rad-ui-color-teal-700: #2a7e68;
--rad-ui-color-teal-800: #29a383;
--rad-ui-color-teal-900: #27b08b;
--rad-ui-color-teal-950: #1fd8a4;
--rad-ui-color-teal-1000: #adf0d4;
--rad-ui-color-jade-50: #0d1512;
--rad-ui-color-jade-100: #121c18;
--rad-ui-color-jade-200: #0f2e22;
--rad-ui-color-jade-300: #0b3b2c;
--rad-ui-color-jade-400: #114837;
--rad-ui-color-jade-500: #1b5745;
--rad-ui-color-jade-600: #246854;
--rad-ui-color-jade-700: #2a7e68;
--rad-ui-color-jade-800: #29a383;
--rad-ui-color-jade-900: #27b08b;
--rad-ui-color-jade-950: #1fd8a4;
--rad-ui-color-jade-1000: #adf0d4;
--rad-ui-color-green-50: #0e1512;
--rad-ui-color-green-100: #121b17;
--rad-ui-color-green-200: #132d21;
--rad-ui-color-green-300: #113b29;
--rad-ui-color-green-400: #174933;
--rad-ui-color-green-500: #20573e;
--rad-ui-color-green-600: #28684a;
--rad-ui-color-green-700: #2f7c57;
--rad-ui-color-green-800: #30a46c;
--rad-ui-color-green-900: #33b074;
--rad-ui-color-green-950: #3dd68c;
--rad-ui-color-green-1000: #b1f1cb;
--rad-ui-color-grass-50: #0e1511;
--rad-ui-color-grass-100: #141a15;
--rad-ui-color-grass-200: #1b2a1e;
--rad-ui-color-grass-300: #1d3a24;
--rad-ui-color-grass-400: #25482d;
--rad-ui-color-grass-500: #2d5736;
--rad-ui-color-grass-600: #366740;
--rad-ui-color-grass-700: #3e7949;
--rad-ui-color-grass-800: #46a758;
--rad-ui-color-grass-900: #53b365;
--rad-ui-color-grass-950: #71d083;
--rad-ui-color-grass-1000: #c2f0c2;
--rad-ui-color-brown-50: #12110f;
--rad-ui-color-brown-100: #1c1816;
--rad-ui-color-brown-200: #28211d;
--rad-ui-color-brown-300: #322922;
--rad-ui-color-brown-400: #3e3128;
--rad-ui-color-brown-500: #4d3c2f;
--rad-ui-color-brown-600: #614a39;
--rad-ui-color-brown-700: #7c5f46;
--rad-ui-color-brown-800: #ad7f58;
--rad-ui-color-brown-900: #b88c67;
--rad-ui-color-brown-950: #dbb594;
--rad-ui-color-brown-1000: #f2e1ca;
--rad-ui-color-bronze-50: #141110;
--rad-ui-color-bronze-100: #1a1715;
--rad-ui-color-bronze-200: #26221e;
--rad-ui-color-bronze-300: #2f2a24;
--rad-ui-color-bronze-400: #3b3330;
--rad-ui-color-bronze-500: #493e3a;
--rad-ui-color-bronze-600: #5a4c47;
--rad-ui-color-bronze-700: #6f5f58;
--rad-ui-color-bronze-800: #a18072;
--rad-ui-color-bronze-900: #ae8c7e;
--rad-ui-color-bronze-950: #d4b3a5;
--rad-ui-color-bronze-1000: #ede0d9;
--rad-ui-color-gold-50: #121211;
--rad-ui-color-gold-100: #1b1a17;
--rad-ui-color-gold-200: #24231f;
--rad-ui-color-gold-300: #2d2b26;
--rad-ui-color-gold-400: #38352e;
--rad-ui-color-gold-500: #444039;
--rad-ui-color-gold-600: #544f46;
--rad-ui-color-gold-700: #696256;
--rad-ui-color-gold-800: #978365;
--rad-ui-color-gold-900: #a39073;
--rad-ui-color-gold-950: #cbb99f;
--rad-ui-color-gold-1000: #e8e2d9;
--rad-ui-color-sky-50: #0d141f;
--rad-ui-color-sky-100: #111a27;
--rad-ui-color-sky-200: #112840;
--rad-ui-color-sky-300: #113555;
--rad-ui-color-sky-400: #154467;
--rad-ui-color-sky-500: #1b537b;
--rad-ui-color-sky-600: #1f6692;
--rad-ui-color-sky-700: #197cae;
--rad-ui-color-sky-800: #7ce2fe;
--rad-ui-color-sky-900: #a8eeff;
--rad-ui-color-sky-950: #75c7f0;
--rad-ui-color-sky-1000: #c2f3ff;
--rad-ui-color-mint-50: #0e1515;
--rad-ui-color-mint-100: #0f1b1b;
--rad-ui-color-mint-200: #092c2b;
--rad-ui-color-mint-300: #003a38;
--rad-ui-color-mint-400: #004744;
--rad-ui-color-mint-500: #105650;
--rad-ui-color-mint-600: #1e685f;
--rad-ui-color-mint-700: #277f70;
--rad-ui-color-mint-800: #86ead4;
--rad-ui-color-mint-900: #a8f5e5;
--rad-ui-color-mint-950: #58d5ba;
--rad-ui-color-mint-1000: #c4f5e1;
--rad-ui-color-lime-50: #11130c;
--rad-ui-color-lime-100: #151a10;
--rad-ui-color-lime-200: #1f2917;
--rad-ui-color-lime-300: #29371d;
--rad-ui-color-lime-400: #334423;
--rad-ui-color-lime-500: #3d522a;
--rad-ui-color-lime-600: #496231;
--rad-ui-color-lime-700: #577538;
--rad-ui-color-lime-800: #bdee63;
--rad-ui-color-lime-900: #d4ff70;
--rad-ui-color-lime-950: #bde56c;
--rad-ui-color-lime-1000: #e3f7ba;
--rad-ui-color-yellow-50: #14120b;
--rad-ui-color-yellow-100: #1b180f;
--rad-ui-color-yellow-200: #2d2305;
--rad-ui-color-yellow-300: #362b00;
--rad-ui-color-yellow-400: #433500;
--rad-ui-color-yellow-500: #524202;
--rad-ui-color-yellow-600: #665417;
--rad-ui-color-yellow-700: #836a21;
--rad-ui-color-yellow-800: #ffe629;
--rad-ui-color-yellow-900: #ffff57;
--rad-ui-color-yellow-950: #f5e147;
--rad-ui-color-yellow-1000: #f6eeb4;
--rad-ui-color-amber-50: #16120c;
--rad-ui-color-amber-100: #1d180f;
--rad-ui-color-amber-200: #302008;
--rad-ui-color-amber-300: #3f2700;
--rad-ui-color-amber-400: #4d3000;
--rad-ui-color-amber-500: #5c3d05;
--rad-ui-color-amber-600: #714f19;
--rad-ui-color-amber-700: #8f6424;
--rad-ui-color-amber-800: #ffc53d;
--rad-ui-color-amber-900: #ffd60a;
--rad-ui-color-amber-950: #ffca16;
--rad-ui-color-amber-1000: #ffe7b3;
--rad-ui-color-orange-50: #17120e;
--rad-ui-color-orange-100: #1e160f;
--rad-ui-color-orange-200: #331e0b;
--rad-ui-color-orange-300: #462100;
--rad-ui-color-orange-400: #562800;
--rad-ui-color-orange-500: #66350c;
--rad-ui-color-orange-600: #7e451d;
--rad-ui-color-orange-700: #a35829;
--rad-ui-color-orange-800: #f76b15;
--rad-ui-color-orange-900: #ff801f;
--rad-ui-color-orange-950: #ffa057;
--rad-ui-color-orange-1000: #ffe0c2;
  }
