
  :root {
    --rad-ui-color-gray-50: hsl(0, 0%, 99.0%);
--rad-ui-color-gray-100: hsl(0, 0%, 97.5%);
--rad-ui-color-gray-200: hsl(0, 0%, 94.6%);
--rad-ui-color-gray-300: hsl(0, 0%, 92.0%);
--rad-ui-color-gray-400: hsl(0, 0%, 89.5%);
--rad-ui-color-gray-500: hsl(0, 0%, 86.8%);
--rad-ui-color-gray-600: hsl(0, 0%, 83.0%);
--rad-ui-color-gray-700: hsl(0, 0%, 73.2%);
--rad-ui-color-gray-800: hsl(0, 0%, 55.2%);
--rad-ui-color-gray-900: hsl(0, 0%, 50.3%);
--rad-ui-color-gray-950: hsl(0, 0%, 39.3%);
--rad-ui-color-gray-1000: hsl(0, 0%, 12.5%);
--rad-ui-color-mauve-50: hsl(300, 26.0%, 99.0%);
--rad-ui-color-mauve-100: hsl(270, 20.0%, 98.0%);
--rad-ui-color-mauve-200: hsl(267, 13.8%, 95.3%);
--rad-ui-color-mauve-300: hsl(265, 12.2%, 92.7%);
--rad-ui-color-mauve-400: hsl(263, 11.6%, 90.3%);
--rad-ui-color-mauve-500: hsl(261, 11.1%, 87.7%);
--rad-ui-color-mauve-600: hsl(257, 10.8%, 84.3%);
--rad-ui-color-mauve-700: hsl(249, 10.4%, 75.5%);
--rad-ui-color-mauve-800: hsl(252, 6.0%, 57.3%);
--rad-ui-color-mauve-900: hsl(250, 5.0%, 52.3%);
--rad-ui-color-mauve-950: hsl(252, 5.0%, 40.7%);
--rad-ui-color-mauve-1000: hsl(260, 10.0%, 13.5%);
--rad-ui-color-slate-50: hsl(240, 22.0%, 99.0%);
--rad-ui-color-slate-100: hsl(240, 20.0%, 98.0%);
--rad-ui-color-slate-200: hsl(239, 13.4%, 95.4%);
--rad-ui-color-slate-300: hsl(238, 11.8%, 92.9%);
--rad-ui-color-slate-400: hsl(237, 11.1%, 90.5%);
--rad-ui-color-slate-500: hsl(236, 10.6%, 87.9%);
--rad-ui-color-slate-600: hsl(234, 10.4%, 84.4%);
--rad-ui-color-slate-700: hsl(231, 10.2%, 75.1%);
--rad-ui-color-slate-800: hsl(230, 6.0%, 57.0%);
--rad-ui-color-slate-900: hsl(227, 5.2%, 51.8%);
--rad-ui-color-slate-950: hsl(227, 5.0%, 40.2%);
--rad-ui-color-slate-1000: hsl(210, 12.0%, 12.5%);
--rad-ui-color-sage-50: hsl(155, 30.0%, 98.8%);
--rad-ui-color-sage-100: hsl(150, 14.3%, 97.3%);
--rad-ui-color-sage-200: hsl(150, 8.0%, 94.5%);
--rad-ui-color-sage-300: hsl(150, 6.0%, 92.0%);
--rad-ui-color-sage-400: hsl(150, 4.9%, 89.5%);
--rad-ui-color-sage-500: hsl(150, 4.3%, 86.7%);
--rad-ui-color-sage-600: hsl(150, 3.7%, 82.8%);
--rad-ui-color-sage-700: hsl(150, 2.9%, 72.9%);
--rad-ui-color-sage-800: hsl(155, 3.5%, 54.2%);
--rad-ui-color-sage-900: hsl(158, 2.9%, 49.3%);
--rad-ui-color-sage-950: hsl(155, 3.0%, 38.5%);
--rad-ui-color-sage-1000: hsl(155, 12.0%, 11.5%);
--rad-ui-color-olive-50: hsl(110, 20.0%, 99.0%);
--rad-ui-color-olive-100: hsl(120, 16.7%, 97.6%);
--rad-ui-color-olive-200: hsl(118, 8.4%, 94.8%);
--rad-ui-color-olive-300: hsl(116, 6.0%, 92.1%);
--rad-ui-color-olive-400: hsl(115, 4.9%, 89.4%);
--rad-ui-color-olive-500: hsl(113, 4.2%, 86.5%);
--rad-ui-color-olive-600: hsl(111, 3.6%, 82.6%);
--rad-ui-color-olive-700: hsl(105, 2.9%, 72.9%);
--rad-ui-color-olive-800: hsl(110, 3.0%, 54.5%);
--rad-ui-color-olive-900: hsl(105, 2.7%, 49.4%);
--rad-ui-color-olive-950: hsl(110, 3.0%, 38.5%);
--rad-ui-color-olive-1000: hsl(110, 8.0%, 12.0%);
--rad-ui-color-sand-50: hsl(50, 20.0%, 99.0%);
--rad-ui-color-sand-100: hsl(60, 7.7%, 97.5%);
--rad-ui-color-sand-200: hsl(59, 5.8%, 94.5%);
--rad-ui-color-sand-300: hsl(58, 5.3%, 91.8%);
--rad-ui-color-sand-400: hsl(57, 5.1%, 89.0%);
--rad-ui-color-sand-500: hsl(56, 5.0%, 86.0%);
--rad-ui-color-sand-600: hsl(54, 4.9%, 81.8%);
--rad-ui-color-sand-700: hsl(51, 5.0%, 72.4%);
--rad-ui-color-sand-800: hsl(60, 3.0%, 53.9%);
--rad-ui-color-sand-900: hsl(60, 2.6%, 49.0%);
--rad-ui-color-sand-950: hsl(50, 2.5%, 38.0%);
--rad-ui-color-sand-1000: hsl(50, 8.0%, 12.0%);
--rad-ui-color-tomato-50: hsl(10, 100%, 99.4%);
--rad-ui-color-tomato-100: hsl(8, 100%, 98.4%);
--rad-ui-color-tomato-200: hsl(8, 100%, 96.6%);
--rad-ui-color-tomato-300: hsl(8, 100%, 94.3%);
--rad-ui-color-tomato-400: hsl(8, 92.8%, 91.0%);
--rad-ui-color-tomato-500: hsl(9, 84.7%, 86.3%);
--rad-ui-color-tomato-600: hsl(10, 77.3%, 79.5%);
--rad-ui-color-tomato-700: hsl(10, 71.6%, 71.0%);
--rad-ui-color-tomato-800: hsl(10, 78.0%, 54.0%);
--rad-ui-color-tomato-900: hsl(10, 71.4%, 49.4%);
--rad-ui-color-tomato-950: hsl(10, 82.0%, 42.0%);
--rad-ui-color-tomato-1000: hsl(8, 50.0%, 24.0%);
--rad-ui-color-red-50: hsl(359, 100%, 99.4%);
--rad-ui-color-red-100: hsl(0, 100%, 98.4%);
--rad-ui-color-red-200: hsl(360, 100%, 96.8%);
--rad-ui-color-red-300: hsl(360, 97.9%, 94.8%);
--rad-ui-color-red-400: hsl(360, 90.2%, 91.9%);
--rad-ui-color-red-500: hsl(360, 81.7%, 87.8%);
--rad-ui-color-red-600: hsl(359, 74.2%, 81.7%);
--rad-ui-color-red-700: hsl(359, 69.5%, 74.3%);
--rad-ui-color-red-800: hsl(358, 75.0%, 59.0%);
--rad-ui-color-red-900: hsl(358, 67.4%, 54.6%);
--rad-ui-color-red-950: hsl(358, 65.0%, 47.0%);
--rad-ui-color-red-1000: hsl(350, 63.0%, 24.0%);
--rad-ui-color-ruby-50: hsl(348, 100%, 99.5%);
--rad-ui-color-ruby-100: hsl(345, 100%, 98.4%);
--rad-ui-color-ruby-200: hsl(345, 89.9%, 96.7%);
--rad-ui-color-ruby-300: hsl(346, 82.6%, 94.4%);
--rad-ui-color-ruby-400: hsl(346, 75.8%, 91.4%);
--rad-ui-color-ruby-500: hsl(347, 69.3%, 87.1%);
--rad-ui-color-ruby-600: hsl(348, 64.3%, 80.9%);
--rad-ui-color-ruby-700: hsl(348, 61.5%, 73.5%);
--rad-ui-color-ruby-800: hsl(348, 75.0%, 58.5%);
--rad-ui-color-ruby-900: hsl(347, 68.6%, 54.1%);
--rad-ui-color-ruby-950: hsl(345, 70.0%, 46.5%);
--rad-ui-color-ruby-1000: hsl(344, 63.0%, 24.0%);
--rad-ui-color-crimson-50: hsl(332, 100%, 99.4%);
--rad-ui-color-crimson-100: hsl(330, 100%, 98.4%);
--rad-ui-color-crimson-200: hsl(331, 85.6%, 96.6%);
--rad-ui-color-crimson-300: hsl(331, 78.1%, 94.2%);
--rad-ui-color-crimson-400: hsl(332, 72.1%, 91.1%);
--rad-ui-color-crimson-500: hsl(333, 67.0%, 86.7%);
--rad-ui-color-crimson-600: hsl(335, 63.5%, 80.4%);
--rad-ui-color-crimson-700: hsl(336, 62.3%, 72.9%);
--rad-ui-color-crimson-800: hsl(336, 80.0%, 57.8%);
--rad-ui-color-crimson-900: hsl(336, 71.3%, 52.8%);
--rad-ui-color-crimson-950: hsl(336, 75.0%, 45.5%);
--rad-ui-color-crimson-1000: hsl(332, 63.0%, 23.5%);
--rad-ui-color-pink-50: hsl(322, 100%, 99.4%);
--rad-ui-color-pink-100: hsl(323, 100%, 98.4%);
--rad-ui-color-pink-200: hsl(323, 86.3%, 96.5%);
--rad-ui-color-pink-300: hsl(323, 78.7%, 94.2%);
--rad-ui-color-pink-400: hsl(323, 72.2%, 91.1%);
--rad-ui-color-pink-500: hsl(323, 66.3%, 86.6%);
--rad-ui-color-pink-600: hsl(323, 62.0%, 80.1%);
--rad-ui-color-pink-700: hsl(323, 60.3%, 72.4%);
--rad-ui-color-pink-800: hsl(322, 65.0%, 54.5%);
--rad-ui-color-pink-900: hsl(322, 62.0%, 49.6%);
--rad-ui-color-pink-950: hsl(322, 75.0%, 44.0%);
--rad-ui-color-pink-1000: hsl(320, 70.0%, 23.2%);
--rad-ui-color-plum-50: hsl(292, 90.0%, 99.4%);
--rad-ui-color-plum-100: hsl(300, 100%, 98.6%);
--rad-ui-color-plum-200: hsl(299, 71.2%, 96.4%);
--rad-ui-color-plum-300: hsl(299, 62.0%, 93.8%);
--rad-ui-color-plum-400: hsl(298, 56.1%, 90.5%);
--rad-ui-color-plum-500: hsl(296, 51.3%, 85.8%);
--rad-ui-color-plum-600: hsl(295, 48.2%, 78.9%);
--rad-ui-color-plum-700: hsl(292, 47.7%, 70.8%);
--rad-ui-color-plum-800: hsl(292, 45.0%, 51.0%);
--rad-ui-color-plum-900: hsl(292, 50.2%, 46.9%);
--rad-ui-color-plum-950: hsl(292, 60.0%, 42.5%);
--rad-ui-color-plum-1000: hsl(291, 57.0%, 23.2%);
--rad-ui-color-purple-50: hsl(280, 65.0%, 99.4%);
--rad-ui-color-purple-100: hsl(276, 100%, 99.0%);
--rad-ui-color-purple-200: hsl(276, 83.1%, 97.0%);
--rad-ui-color-purple-300: hsl(275, 76.4%, 94.7%);
--rad-ui-color-purple-400: hsl(275, 70.8%, 91.8%);
--rad-ui-color-purple-500: hsl(274, 65.4%, 87.8%);
--rad-ui-color-purple-600: hsl(273, 61.0%, 81.7%);
--rad-ui-color-purple-700: hsl(272, 60.0%, 73.5%);
--rad-ui-color-purple-800: hsl(272, 51.0%, 54.0%);
--rad-ui-color-purple-900: hsl(272, 46.8%, 50.3%);
--rad-ui-color-purple-950: hsl(272, 50.0%, 45.8%);
--rad-ui-color-purple-1000: hsl(270, 50.0%, 25.0%);
    --rad-ui-color-accent-50: hsl(359, 100%, 99.4%);
--rad-ui-color-accent-100: hsl(0, 100%, 98.4%);
--rad-ui-color-accent-200: hsl(360, 100%, 96.8%);
--rad-ui-color-accent-300: hsl(360, 97.9%, 94.8%);
--rad-ui-color-accent-400: hsl(360, 90.2%, 91.9%);
--rad-ui-color-accent-500: hsl(360, 81.7%, 87.8%);
--rad-ui-color-accent-600: hsl(359, 74.2%, 81.7%);
--rad-ui-color-accent-700: hsl(359, 69.5%, 74.3%);
--rad-ui-color-accent-800: hsl(358, 75.0%, 59.0%);
--rad-ui-color-accent-900: hsl(358, 67.4%, 54.6%);
--rad-ui-color-accent-950: hsl(358, 65.0%, 47.0%);
--rad-ui-color-accent-1000: hsl(350, 63.0%, 24.0%);
  }

  .rad-ui-dark-theme {
    --rad-ui-color-gray-50: hsl(0, 0%, 9.5%);
--rad-ui-color-gray-100: hsl(0, 0%, 10.5%);
--rad-ui-color-gray-200: hsl(0, 0%, 15.8%);
--rad-ui-color-gray-300: hsl(0, 0%, 18.9%);
--rad-ui-color-gray-400: hsl(0, 0%, 21.7%);
--rad-ui-color-gray-500: hsl(0, 0%, 24.7%);
--rad-ui-color-gray-600: hsl(0, 0%, 29.1%);
--rad-ui-color-gray-700: hsl(0, 0%, 37.5%);
--rad-ui-color-gray-800: hsl(0, 0%, 43.0%);
--rad-ui-color-gray-900: hsl(0, 0%, 50.7%);
--rad-ui-color-gray-950: hsl(0, 0%, 69.5%);
--rad-ui-color-gray-1000: hsl(0, 0%, 93.5%);
--rad-ui-color-mauve-50: hsl(300, 5.0%, 9.5%);
--rad-ui-color-mauve-100: hsl(300, 7.1%, 11.0%);
--rad-ui-color-mauve-200: hsl(290, 6.2%, 16.2%);
--rad-ui-color-mauve-300: hsl(285, 5.8%, 19.5%);
--rad-ui-color-mauve-400: hsl(280, 5.6%, 22.4%);
--rad-ui-color-mauve-500: hsl(276, 5.4%, 25.7%);
--rad-ui-color-mauve-600: hsl(269, 5.3%, 30.3%);
--rad-ui-color-mauve-700: hsl(258, 5.0%, 39.2%);
--rad-ui-color-mauve-800: hsl(250, 5.0%, 45.0%);
--rad-ui-color-mauve-900: hsl(252, 4.3%, 52.3%);
--rad-ui-color-mauve-950: hsl(250, 6.0%, 70.5%);
--rad-ui-color-mauve-1000: hsl(240, 7.0%, 93.8%);
--rad-ui-color-slate-50: hsl(240, 5.0%, 9.8%);
--rad-ui-color-slate-100: hsl(240, 6.9%, 11.4%);
--rad-ui-color-slate-200: hsl(227, 6.7%, 16.4%);
--rad-ui-color-slate-300: hsl(222, 6.6%, 19.4%);
--rad-ui-color-slate-400: hsl(218, 6.5%, 22.1%);
--rad-ui-color-slate-500: hsl(214, 6.4%, 25.1%);
--rad-ui-color-slate-600: hsl(209, 6.2%, 29.4%);
--rad-ui-color-slate-700: hsl(202, 5.8%, 37.5%);
--rad-ui-color-slate-800: hsl(220, 6.0%, 44.0%);
--rad-ui-color-slate-900: hsl(218, 5.3%, 51.5%);
--rad-ui-color-slate-950: hsl(220, 7.0%, 70.0%);
--rad-ui-color-slate-1000: hsl(220, 7.0%, 93.5%);
--rad-ui-color-sage-50: hsl(155, 7.0%, 9.2%);
--rad-ui-color-sage-100: hsl(150, 7.7%, 10.2%);
--rad-ui-color-sage-200: hsl(150, 7.0%, 15.5%);
--rad-ui-color-sage-300: hsl(152, 4.7%, 18.3%);
--rad-ui-color-sage-400: hsl(153, 4.2%, 21.1%);
--rad-ui-color-sage-500: hsl(153, 3.7%, 24.2%);
--rad-ui-color-sage-600: hsl(154, 3.3%, 28.7%);
--rad-ui-color-sage-700: hsl(156, 2.6%, 37.1%);
--rad-ui-color-sage-800: hsl(155, 6.0%, 41.5%);
--rad-ui-color-sage-900: hsl(157, 4.6%, 49.2%);
--rad-ui-color-sage-950: hsl(155, 5.0%, 68.3%);
--rad-ui-color-sage-1000: hsl(155, 7.0%, 93.0%);
--rad-ui-color-olive-50: hsl(110, 5.0%, 9.2%);
--rad-ui-color-olive-100: hsl(120, 5.7%, 10.4%);
--rad-ui-color-olive-200: hsl(120, 4.3%, 15.4%);
--rad-ui-color-olive-300: hsl(120, 3.9%, 18.5%);
--rad-ui-color-olive-400: hsl(120, 3.6%, 21.2%);
--rad-ui-color-olive-500: hsl(120, 3.3%, 24.3%);
--rad-ui-color-olive-600: hsl(120, 3.0%, 28.7%);
--rad-ui-color-olive-700: hsl(120, 2.6%, 37.1%);
--rad-ui-color-olive-800: hsl(110, 6.0%, 41.5%);
--rad-ui-color-olive-900: hsl(106, 4.6%, 49.3%);
--rad-ui-color-olive-950: hsl(110, 5.0%, 68.8%);
--rad-ui-color-olive-1000: hsl(110, 7.0%, 93.0%);
--rad-ui-color-sand-50: hsl(60, 6.0%, 9.0%);
--rad-ui-color-sand-100: hsl(60, 6.9%, 10.4%);
--rad-ui-color-sand-200: hsl(60, 5.2%, 15.4%);
--rad-ui-color-sand-300: hsl(60, 4.7%, 18.5%);
--rad-ui-color-sand-400: hsl(60, 4.4%, 21.2%);
--rad-ui-color-sand-500: hsl(60, 4.1%, 24.3%);
--rad-ui-color-sand-600: hsl(60, 3.8%, 28.7%);
--rad-ui-color-sand-700: hsl(60, 3.3%, 37.1%);
--rad-ui-color-sand-800: hsl(60, 6.0%, 41.5%);
--rad-ui-color-sand-900: hsl(60, 4.6%, 49.3%);
--rad-ui-color-sand-950: hsl(60, 5.0%, 68.8%);
--rad-ui-color-sand-1000: hsl(60, 7.0%, 93.0%);
--rad-ui-color-tomato-50: hsl(10, 23.0%, 9.4%);
--rad-ui-color-tomato-100: hsl(10, 39.0%, 11.6%);
--rad-ui-color-tomato-200: hsl(9, 48.3%, 15.5%);
--rad-ui-color-tomato-300: hsl(9, 53.0%, 18.1%);
--rad-ui-color-tomato-400: hsl(9, 57.0%, 20.7%);
--rad-ui-color-tomato-500: hsl(9, 61.8%, 24.5%);
--rad-ui-color-tomato-600: hsl(9, 68.4%, 31.1%);
--rad-ui-color-tomato-700: hsl(10, 80.4%, 43.9%);
--rad-ui-color-tomato-800: hsl(10, 78.0%, 54.0%);
--rad-ui-color-tomato-900: hsl(10, 88.4%, 64.1%);
--rad-ui-color-tomato-950: hsl(10, 100%, 72.0%);
--rad-ui-color-tomato-1000: hsl(10, 85.0%, 89.0%);
--rad-ui-color-red-50: hsl(353, 23.0%, 9.8%);
--rad-ui-color-red-100: hsl(354, 30.2%, 12.4%);
--rad-ui-color-red-200: hsl(353, 40.8%, 16.4%);
--rad-ui-color-red-300: hsl(353, 46.3%, 19.2%);
--rad-ui-color-red-400: hsl(353, 51.2%, 22.1%);
--rad-ui-color-red-500: hsl(353, 57.3%, 26.2%);
--rad-ui-color-red-600: hsl(354, 65.7%, 33.2%);
--rad-ui-color-red-700: hsl(358, 75.0%, 47.1%);
--rad-ui-color-red-800: hsl(358, 75.0%, 59.0%);
--rad-ui-color-red-900: hsl(359, 84.8%, 67.6%);
--rad-ui-color-red-950: hsl(358, 100%, 76.0%);
--rad-ui-color-red-1000: hsl(350, 100%, 91.0%);
--rad-ui-color-ruby-50: hsl(343, 23.0%, 10.0%);
--rad-ui-color-ruby-100: hsl(349, 33.3%, 12.4%);
--rad-ui-color-ruby-200: hsl(348, 42.2%, 16.4%);
--rad-ui-color-ruby-300: hsl(348, 46.8%, 19.1%);
--rad-ui-color-ruby-400: hsl(348, 50.7%, 21.7%);
--rad-ui-color-ruby-500: hsl(348, 56.0%, 25.7%);
--rad-ui-color-ruby-600: hsl(348, 64.3%, 33.0%);
--rad-ui-color-ruby-700: hsl(348, 77.0%, 46.1%);
--rad-ui-color-ruby-800: hsl(348, 75.0%, 58.5%);
--rad-ui-color-ruby-900: hsl(349, 84.1%, 67.1%);
--rad-ui-color-ruby-950: hsl(348, 100%, 76.0%);
--rad-ui-color-ruby-1000: hsl(340, 95.0%, 91.0%);
--rad-ui-color-crimson-50: hsl(335, 20.0%, 9.6%);
--rad-ui-color-crimson-100: hsl(336, 32.3%, 12.2%);
--rad-ui-color-crimson-200: hsl(336, 40.2%, 16.0%);
--rad-ui-color-crimson-300: hsl(336, 44.4%, 18.5%);
--rad-ui-color-crimson-400: hsl(336, 48.4%, 21.3%);
--rad-ui-color-crimson-500: hsl(336, 53.9%, 25.5%);
--rad-ui-color-crimson-600: hsl(336, 62.7%, 32.8%);
--rad-ui-color-crimson-700: hsl(336, 80.0%, 45.1%);
--rad-ui-color-crimson-800: hsl(336, 80.0%, 57.8%);
--rad-ui-color-crimson-900: hsl(339, 87.0%, 67.2%);
--rad-ui-color-crimson-950: hsl(341, 100%, 76.0%);
--rad-ui-color-crimson-1000: hsl(330, 90.0%, 91.0%);
--rad-ui-color-pink-50: hsl(318, 20.0%, 9.6%);
--rad-ui-color-pink-100: hsl(318, 32.3%, 12.2%);
--rad-ui-color-pink-200: hsl(318, 37.1%, 15.7%);
--rad-ui-color-pink-300: hsl(318, 39.8%, 18.1%);
--rad-ui-color-pink-400: hsl(318, 42.3%, 20.8%);
--rad-ui-color-pink-500: hsl(318, 45.8%, 24.9%);
--rad-ui-color-pink-600: hsl(318, 51.2%, 32.2%);
--rad-ui-color-pink-700: hsl(318, 60.0%, 46.1%);
--rad-ui-color-pink-800: hsl(318, 65.0%, 54.5%);
--rad-ui-color-pink-900: hsl(318, 71.5%, 63.2%);
--rad-ui-color-pink-950: hsl(318, 90.0%, 75.0%);
--rad-ui-color-pink-1000: hsl(318, 90.0%, 90.5%);
--rad-ui-color-plum-50: hsl(301, 20.0%, 9.4%);
--rad-ui-color-plum-100: hsl(300, 28.8%, 11.6%);
--rad-ui-color-plum-200: hsl(299, 31.8%, 15.5%);
--rad-ui-color-plum-300: hsl(298, 33.4%, 18.3%);
--rad-ui-color-plum-400: hsl(297, 34.6%, 21.0%);
--rad-ui-color-plum-500: hsl(296, 36.0%, 25.1%);
--rad-ui-color-plum-600: hsl(295, 37.9%, 32.7%);
--rad-ui-color-plum-700: hsl(292, 40.2%, 47.8%);
--rad-ui-color-plum-800: hsl(292, 45.0%, 51.0%);
--rad-ui-color-plum-900: hsl(291, 51.2%, 60.2%);
--rad-ui-color-plum-950: hsl(290, 70.0%, 74.0%);
--rad-ui-color-plum-1000: hsl(300, 60.0%, 89.5%);
--rad-ui-color-purple-50: hsl(284, 20.0%, 9.6%);
--rad-ui-color-purple-100: hsl(284, 31.1%, 12.0%);
--rad-ui-color-purple-200: hsl(282, 35.1%, 16.8%);
--rad-ui-color-purple-300: hsl(281, 36.9%, 20.1%);
--rad-ui-color-purple-400: hsl(280, 38.1%, 23.0%);
--rad-ui-color-purple-500: hsl(278, 39.5%, 27.3%);
--rad-ui-color-purple-600: hsl(276, 41.1%, 35.1%);
--rad-ui-color-purple-700: hsl(272, 42.7%, 50.0%);
--rad-ui-color-purple-800: hsl(272, 51.0%, 54.0%);
--rad-ui-color-purple-900: hsl(271, 57.8%, 61.2%);
--rad-ui-color-purple-950: hsl(270, 90.0%, 78.0%);
--rad-ui-color-purple-1000: hsl(275, 75.0%, 91.5%);
    --rad-ui-color-accent-50: hsl(353, 23.0%, 9.8%);
--rad-ui-color-accent-100: hsl(354, 30.2%, 12.4%);
--rad-ui-color-accent-200: hsl(353, 40.8%, 16.4%);
--rad-ui-color-accent-300: hsl(353, 46.3%, 19.2%);
--rad-ui-color-accent-400: hsl(353, 51.2%, 22.1%);
--rad-ui-color-accent-500: hsl(353, 57.3%, 26.2%);
--rad-ui-color-accent-600: hsl(354, 65.7%, 33.2%);
--rad-ui-color-accent-700: hsl(358, 75.0%, 47.1%);
--rad-ui-color-accent-800: hsl(358, 75.0%, 59.0%);
--rad-ui-color-accent-900: hsl(359, 84.8%, 67.6%);
--rad-ui-color-accent-950: hsl(358, 100%, 76.0%);
--rad-ui-color-accent-1000: hsl(350, 100%, 91.0%);
  }
