# IDE Settings
.idea/
.vscode/
.zed/
.cursor/

# Dependencies
node_modules/

# Miscellaneous
coverage/
dist/
storybook-static/
.cache/
.DS_Store
chromatic.log
build-storybook.log

test-results/


LLM.md