@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gray50: hsl(0, 0%, 12.5%);
        --gray100: hsl(0, 0%, 39.3%);
        --gray200: hsl(0, 0%, 50.3%);
        --gray300: hsl(0, 0%, 55.2%);
        --gray400: hsl(0, 0%, 73.2%);
        --gray500: hsl(0, 0%, 83.0%);
        --gray600: hsl(0, 0%, 86.8%);
        --gray700: hsl(0, 0%, 89.5%);
        --gray800: hsl(0, 0%, 92.0%);
        --gray900: hsl(0, 0%, 94.6%);
        --gray950: hsl(0, 0%, 97.5%);
        --gray1000: hsl(0, 0%, 99.0%);
      }
      
      .rad-ui-dark-theme {
        --gray50: hsl(0, 0%, 93.5%);
        --gray100: hsl(0, 0%, 69.5%);
        --gray200: hsl(0, 0%, 50.7%);
        --gray300: hsl(0, 0%, 43.0%);
        --gray400: hsl(0, 0%, 37.5%);
        --gray500: hsl(0, 0%, 29.1%);
        --gray600: hsl(0, 0%, 24.7%);
        --gray700: hsl(0, 0%, 21.7%);
        --gray800: hsl(0, 0%, 18.9%);
        --gray900: hsl(0, 0%, 15.8%);
        --gray950: hsl(0, 0%, 10.5%);
        --gray1000: hsl(0, 0%, 9.5%);
      }
  }