@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

body {
  font-family: Inter, sans-serif;
}




code {
  padding: 16px;
  border-radius: 4px;
  background-color: var(--rad-ui-color-accent-100);
  color: var(--rad-ui-color-gray-1000);
  display: block;
  border: 1px solid var(--rad-ui-color-accent-500);
  font-size: 12px;
}

code .string {
  color: var(--rad-ui-color-violet-900);
}

code .punctuation {
  color: var(--rad-ui-color-gray-1000);
}

code .keyword {
  color: var(--rad-ui-color-crimson-900);
}

code .function,
.function-variable {
  color: var(--rad-ui-color-accent-900);
}

code .class-name {
  color: var(--rad-ui-color-accent-900);
}

code .tag {
  color: var(--rad-ui-color-accent-900);
}

code .attr-name {
  color: var(--rad-ui-color-red-900);
}

code .attr-value {
  color: var(--rad-ui-color-green-900);
}

code .operator {
  color: var(--rad-ui-color-purple-900);
}

code .comment {
  color: var(--rad-ui-color-gray-800);
}

code .property {
  color: var(--rad-ui-color-red-800);
}

code .selector {
  color: var(--rad-ui-color-accent-800);
}


.background-animate {
  background-size: 400%;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%,100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}



.code-block-blur {
  position: relative;

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    height: 100px;
    width: 100%;
    bottom: 0px;
    background: linear-gradient(180deg, #0000, var(--rad-ui-color-gray-100) 70%);
    opacity: .9;
  }
}





/// Layout classes

.top-layout-line{
  position: relative;
  height: 1px;
  margin-top: -5px;
 
  // background-color: var(--rad-ui-color-gray-100);
  // background-color: var(--rad-ui-color-gray-950);
  &::before{
  top: 0px;   // 4px  
    content: "";
    background-color: var(--rad-ui-color-gray-400);

    // background-color: color-mix(in oklab, var(--rad-ui-color-gray-1000) 5%, transparent);
    width: 200vw;
    height: 1px;
    position: absolute;
    left: -100vw;
    z-index: 100; 
  }
}

.bottom-layout-line{
  background-color: color-mix(in oklab, var(--rad-ui-color-gray-1000) 5%, transparent);
}


.layout-image {
  inset: -11 0 0 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;

  --color: var(--rad-ui-color-gray-200);

  background-color: var(--rad-ui-color-gray-50);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;


}