.rad-ui-avatar{
    width:32px;
    height:32px;
    border-radius: 8px;
}

.rad-ui-avatar-fallback{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--rad-ui-color-accent-900);
    background-color: var(--rad-ui-color-accent-500) ;
}