
.rad-ui-h1{
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -3px;
    line-height:72px;
    color: var(--rad-ui-text-strong);
}

.rad-ui-h2{
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -1px;
    line-height:42px;
    color: var(--rad-ui-text-strong);
}

.rad-ui-h3{
    font-weight: bold;
    font-size: 28px;
    line-height:34px;
    color: var(--rad-ui-text-strong);
}

.rad-ui-h4{
    font-weight: bold;
    font-size: 24px;
    line-height:24px;
    color: var(--rad-ui-text-strong);
}

.rad-ui-h5{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    line-height:24px;
    color: var(--rad-ui-text-strong);
}

.rad-ui-h6{
    font-weight: bold;
    font-size: 18px;
    line-height:24px;
    letter-spacing: 1px;
    color: var(--rad-ui-text-strong);
}
