@import "./components/accordion.scss";
@import "./components/avatar.scss";
@import "./components/badge.scss";
@import "./components/blockquote.scss";
@import "./components/button.scss";
@import "./components/callout.scss";
@import "./components/card.scss";
@import "./components/table.scss";
@import "./components/code.scss";
@import "./components/heading.scss";
@import "./components/kbd.scss";
@import "./components/link.scss";
@import "./components/separator.scss";
@import "./components/tabs.scss";
@import "./components/text.scss";
@import "./components/textarea.scss";
@import "./components/progress.scss";
@import "./components/toggle.scss";
@import "./components/switch.scss";

// import .css file
@import "../cssTokens/base.tokens";




// button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus,a:focus {
//     outline: 1px solid var(--rad-ui-color-accent-300);
//     outline-style:groove;

//     /* outline:0 none; */
// }

::selection{
    background-color: var(--rad-ui-color-accent-300);
    color: var(--rad-ui-color-accent-950);

}




.rad-ui-tooltip{
    
}
.rad-ui-tooltip-reference-element{

}
.rad-ui-tooltip-floating-element{
    background-color:var(--rad-ui-color-gray-1000); 
    color: var(--rad-ui-color-gray-100);
    padding: 4px 12px;
    border-radius: 8px;
}

.rad-ui-arrow{
    fill: var(--rad-ui-color-gray-1000);
}



.rad-ui-popper{
    // max-width: calc(100vw - 10px);
}