@use "components/accordion";
@use "components/alert-dialog";
@use "components/avatar";
@use "components/avatar-group";
@use "components/badge";
@use "components/blockquote";
@use "components/button";
@use "components/callout";
@use "components/card";
@use "components/data-list";
@use "components/table";
@use "components/code";
@use "components/disclosure";
@use "components/heading";
@use "components/hover-card";
@use "components/kbd";
@use "components/link";
@use "components/separator";
@use "components/tabs";
@use "components/text";
@use "components/textarea";
@use "components/progress";
@use "components/toggle";
@use "components/toggle-group";
@use "components/radio";
@use "components/radiocards";
@use "components/switch";
@use "components/skeleton";
@use "components/visuallyhidden";
@use "components/collapsible";
@use "components/tab-nav";
@use "components/select";

// import .css file
@use "../cssTokens/base.tokens";




// button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus,a:focus {
//     outline: 1px solid var(--rad-ui-color-accent-300);
//     outline-style:groove;

//     /* outline:0 none; */
// }

::selection{
    background-color: var(--rad-ui-color-accent-300);
    color: var(--rad-ui-color-accent-950);

}




.rad-ui-tooltip{
    
}

.rad-ui-tooltip-reference-element{

}

.rad-ui-tooltip-floating-element{
    background-color:var(--rad-ui-color-gray-1000); 
    color: var(--rad-ui-color-gray-100);
    padding: 4px 12px;
    border-radius: 2px;
}

.rad-ui-arrow{
    fill: var(--rad-ui-color-gray-1000);
}



.rad-ui-popper{
    // max-width: calc(100vw - 10px);
}