@use "components/accordion.scss";
@use "components/alert-dialog.scss";
@use "components/avatar.scss";
@use "components/avatar-group.scss";
@use "components/badge.scss";
@use "components/blockquote.scss";
@use "components/button.scss";
@use "components/callout.scss";
@use "components/card.scss";
@use "components/table.scss";
@use "components/code.scss";
@use "components/disclosure.scss";
@use "components/heading.scss";
@use "components/hover-card.scss";
@use "components/kbd.scss";
@use "components/link.scss";
@use "components/separator.scss";
@use "components/tabs.scss";
@use "components/text.scss";
@use "components/textarea.scss";
@use "components/progress.scss";
@use "components/toggle.scss";
@use "components/toggle-group.scss";
@use "components/radio.scss";
@use "components/radiocards.scss";
@use "components/switch.scss";
@use "components/skeleton.scss";
@use "components/visuallyhidden.scss";
@use "components/collapsible.scss";

// import .css file
@use "../cssTokens/base.tokens";




// button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus,a:focus {
//     outline: 1px solid var(--rad-ui-color-accent-300);
//     outline-style:groove;

//     /* outline:0 none; */
// }

::selection{
    background-color: var(--rad-ui-color-accent-300);
    color: var(--rad-ui-color-accent-950);

}




.rad-ui-tooltip{
    
}
.rad-ui-tooltip-reference-element{

}
.rad-ui-tooltip-floating-element{
    background-color:var(--rad-ui-color-gray-1000); 
    color: var(--rad-ui-color-gray-100);
    padding: 4px 12px;
    border-radius: 2px;
}

.rad-ui-arrow{
    fill: var(--rad-ui-color-gray-1000);
}



.rad-ui-popper{
    // max-width: calc(100vw - 10px);
}