.rad-ui-button-root{
    --rad-ui-button-solid-background: var(--rad-ui-color-accent-950);
    --rad-ui-button-solid-hover: var(--rad-ui-color-accent-1000);
    --rad-ui-button-solid-foreground: var(--rad-ui-color-accent-50);

    min-height: 2.25rem;
    gap: var(--rad-ui-spacing-2);
    border: 1px solid var(--rad-ui-button-solid-background);
    border-radius: var(--rad-ui-radius-md);
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:0 1rem;
    white-space: nowrap;
    font-family: var(--rad-ui-font-sans);
    font-size: var(--rad-ui-font-size-2);
    line-height: var(--rad-ui-line-height-1);
    font-weight: 600;
    background-color: var(--rad-ui-button-solid-background);
    color: var(--rad-ui-button-solid-foreground);
    box-sizing: border-box;
    box-shadow: var(--rad-ui-shadow-sm);

    &:hover{
        background-color: var(--rad-ui-button-solid-hover);
        border-color: var(--rad-ui-button-solid-hover);
    }

    &:active{
        transform: translateY(1px);
    }

    &:disabled,
    &[data-disabled] {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
        transform: none;
    }

    &[data-variant="outline"]{
        background-color: var(--rad-ui-surface-panel);
        color: var(--rad-ui-color-accent-1000);
        border-color: var(--rad-ui-color-accent-600);
        box-shadow: var(--rad-ui-shadow-xs);

        &:hover{
            background-color: var(--rad-ui-color-accent-200);
            border-color: var(--rad-ui-color-accent-700);
            color: var(--rad-ui-color-accent-1000);
        }
    }

    &[data-variant="soft"]{
        border-color: transparent;
        color: var(--rad-ui-color-accent-1000);
        background-color:  var(--rad-ui-color-accent-200);
        box-shadow: var(--rad-ui-shadow-xs);

        &:hover{
            background-color: var(--rad-ui-color-accent-300);
            border-color: transparent;
            color: var(--rad-ui-color-accent-1000);
        }

        &:active{
            background-color: var(--rad-ui-color-accent-400);
        }
    }

    &[data-variant="ghost"]{
        background-color: transparent;
        color: var(--rad-ui-color-accent-1000);
        border-color: transparent;
        box-shadow: var(--rad-ui-shadow-none);

        &:hover{
            border-color: transparent;
            background-color: var(--rad-ui-color-accent-200);
            color: var(--rad-ui-color-accent-1000);
        }
    }

    &[data-variant="destructive"]{
        background-color: var(--rad-ui-color-red-800);
        border-color: var(--rad-ui-color-red-600);
        color: var(--rad-ui-color-red-50);

        &:hover{
            background-color: var(--rad-ui-color-red-900);
            border-color: var(--rad-ui-color-red-900);
        }
    }

    &[data-size="small"]{
        min-height: var(--rad-ui-size-8);
        padding: 0 0.75rem;
        font-size: var(--rad-ui-font-size-1);
    }

    &[data-size="medium"]{
        min-height: 2.25rem;
        padding: 0 1rem;
    }

    &[data-size="large"]{
        min-height: var(--rad-ui-size-10);
        padding: 0 1.25rem;
        font-size: 0.9375rem;
    }

    &[data-size="x-large"]{
        min-height: 2.75rem;
        padding: 0 1.5rem;
        font-size: var(--rad-ui-font-size-3);
    }

    &:focus-visible{
        outline: none;
        box-shadow: var(--rad-ui-focus-ring-shadow-offset-panel), var(--rad-ui-shadow-sm);
    }
}
