:root {
    ---rad-ui-primary-100: yellow;
    ---rad-ui-dark-primary-200: blue
}

.rad-ui-dark-theme .button-secondary{
    background-color:var(---rad-ui-dark-primary-200);
    color:white;
}

.button-secondary{
    background-color: var(---rad-ui-primary-100);
    outline:none;
    border:0;
    color:black
}