
.rad-ui-button{
    height: 32px;
    border-radius: 4px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0px 12px;
}
.button-accent{
    background-color: var(--rad-ui-color-accent-900);
    color: white;
}
.button-accent:hover{
    background-color: var(--rad-ui-color-accent-950);
}