
  .rad-ui-alert-dialog-overlay {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }
  
  .rad-ui-alert-dialog-trigger{
    background-color: var(--rad-ui-color-accent-900);
    border-radius: 4px;
    padding: 5px;
    color: white;
    font-weight:600;

    &:hover{
      background-color: var(--rad-ui-color-accent-1000);
    }
  }

  .rad-ui-alert-dialog-cancel{ 
    margin-right: 10px;   
    border-radius: 4px;
    padding: 5px 10px;
    color: var(--rad-ui-color-gray-1000);

    &:hover{
      background-color: var(--rad-ui-color-gray-500);
    }
  }

  .rad-ui-alert-dialog-action{
    margin: 20px 2px;
    background-color: var(--rad-ui-color-gray-1000);
    border-radius: 4px;
    padding: 5px 10px;
    color: var(--rad-ui-color-gray-50);

    &:hover{
      background-color: var(--rad-ui-color-gray-1000);
      opacity: 0.89;
    }
  }

  .rad-ui-alert-dialog-content {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--rad-ui-color-gray-50);
    color: var(--rad-ui-color-gray-1000);
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
  }
  

