.rad-ui-avatar-group {
    display: flex;
    flex-direction: row;

    .rad-ui-avatar-group-item {
        margin-left: -12px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--rad-ui-avatar-group-item-background-color);
        color: var(--rad-ui-avatar-group-item-color);
        font-size: var(--rad-ui-avatar-group-item-font-size);
        font-weight: var(--rad-ui-avatar-group-item-font-weight);

        &:not(:first-child) {
            z-index: 1;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}