.rad-ui-button{
    /** Button Types */
    // default Style - Solid
    height: 32px;
    border-radius: 4px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:0 12px;
    margin-right: 8px;
    background-color: var(--rad-ui-color-accent-900);
    color:var(--rad-ui-color-accent-50);
    box-sizing: border-box;

    &:hover{
        background-color: var(--rad-ui-color-accent-1000);
        color: var(--rad-ui-color-accent-50);
    }

    &:active{
        background-color: var(--rad-ui-color-accent-1000);
        transform: scale(0.96);
    }

    &:focus-visible{
        outline: 2px solid var(--rad-ui-color-accent-900);
        outline-offset: 2px;
    }

    /** End of default Style - Solid */



    /** Now we declare other variants to support the button component */
    &[data-button-variant="outline"]{
        background-color: transparent;
        color: var(--rad-ui-color-accent-900);
        border: 1px solid var(--rad-ui-color-accent-900);

        &:hover{
            background-color: var(--rad-ui-color-accent-900);
            color: var(--rad-ui-color-accent-50);
        }
    }

    &[data-button-variant="soft"]{
        border-top: 2px solid var(--rad-ui-color-accent-900);
        border-left: 1px solid var(--rad-ui-color-accent-600);
        border-right: 1px solid var(--rad-ui-color-accent-600);
        border-bottom: 1px solid var(--rad-ui-color-accent-600);
        color: var(--rad-ui-color-accent-950);
        background-color:  var(--rad-ui-color-accent-400);

        &:hover{
            background-color: var(--rad-ui-color-accent-500);
            color: var(--rad-ui-color-accent-900);
        }

        &:active{
            border-top: 4px solid var(--rad-ui-color-accent-900);
            border-left: 1px solid var(--rad-ui-color-accent-900);
            border-right: 1px solid var(--rad-ui-color-accent-900);
            background-color: var(--rad-ui-color-accent-600);
            color: var(--rad-ui-color-accent-900);
        }

      
    }

    &[data-button-variant="ghost"]{
        background-color: transparent;
        color: var(--rad-ui-color-accent-900);
        border: 1px solid transparent;

        &:hover{
            border: 1px solid var(--rad-ui-color-accent-400);
            background-color: var(--rad-ui-color-accent-400);
            color: var(--rad-ui-color-accent-900);
        }
    }

    /** Button Sizes */
    &[data-button-size="small"]{
        font-size: small;
        padding: 4px 8px;
        height: 24px;
    }

    &[data-button-size="medium"]{
        font-size: medium;
        padding: 4px 12px;
        height: 32px;
    }

    &[data-button-size="large"]{
        font-size: large;
        padding: 4px 16px;
        height: 40px;
    }

    &[data-button-size="x-large"]{
        font-size: x-large;
        padding: 4px 24px;
        height: 48px;
    }
}

