.rad-ui-button{
    height: 32px;
    border-radius: 4px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0px 12px;
}
.button-solid{
    background-color: var(--rad-ui-color-accent-900);
    color: white;
}
.button-solid:hover{
    background-color: var(--rad-ui-color-accent-950);
}

/** Soft */
.button-soft{
    color: var(--rad-ui-color-accent-900);
    background-color:  var(--rad-ui-color-accent-400);
}
.button-soft:hover{
    background-color:  var(--rad-ui-color-accent-500);
}


/**Outline */
.button-outline{
    background-color: transparent;
    color: var(--rad-ui-color-accent-900);
    border: 1px solid var(--rad-ui-color-accent-900);
}
.button-outline:hover{
    border-color:var(--rad-ui-color-accent-950) ;
}

/**Ghost */
.button-ghost{
    background-color: transparent;
    color: var(--rad-ui-color-accent-900);
}
.button-ghost:hover{
    border-color:var(--rad-ui-color-accent-950) ;
    background-color: var(--rad-ui-color-accent-300);
}

/*small */
[data-size="small"]{
    font-size: small;
    padding: 4px 8px;
    height: 24px;
}

/*medium */
[data-size="medium"]{
    font-size:medium;
    padding: 4px 12px;
    height: 32px;
}

/*large */
[data-size="large"]{
    font-size:large;
    padding: 4px 16px;
    height: 40px;
}

/*x-large */
[data-size="x-large"]{
    font-size:x-large;
    padding: 4px 24px;
    height: 48px;
}