.rad-ui-button{
    height: 32px;
    border-radius: 4px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:0px 12px;
    margin-right: 8px;
    box-sizing: border-box;


    &:active{
        transform: scale(0.95);
        background-color: var(--rad-ui-color-accent-950);
    }

    &:focus-visible{
        outline: 2px solid var(--rad-ui-color-accent-900);
        outline-offset: 4px;
    }

    /** Button Types */

    &.button-solid{
        background-color: var(--rad-ui-color-accent-900);
        color: white;
    }
    &.button-solid:hover{
        background-color: var(--rad-ui-color-accent-950);
    }
    
    /** Soft */
    &.button-soft{
        color: var(--rad-ui-color-accent-900);
        background-color:  var(--rad-ui-color-accent-400);
    }
    &.button-soft:hover{
        background-color:  var(--rad-ui-color-accent-500);
    }
    
    
    /**Outline */
    &.button-outline{
        background-color: transparent;
        color: var(--rad-ui-color-accent-900);
        border: 1px solid var(--rad-ui-color-accent-900);
    }
    &.button-outline:hover{
        border-color:var(--rad-ui-color-accent-950) ;
    }
    
    /**Ghost */
    &.button-ghost{
        background-color: transparent;
        color: var(--rad-ui-color-accent-900);
    }
    &.button-ghost:hover{
        border-color:var(--rad-ui-color-accent-950) ;
        background-color: var(--rad-ui-color-accent-300);
    }


    /** Button Sizes */

   &[data-size="small"]{
        font-size: small;
        padding: 4px 8px;
        height: 24px;
    }
   &[data-size="medium"]{
        font-size:medium;
        padding: 4px 12px;
        height: 32px;
    }
   &[data-size="large"]{
        font-size:large;
        padding: 4px 16px;
        height: 40px;
    }
   &[data-size="x-large"]{
        font-size:x-large;
        padding: 4px 24px;
        height: 48px;
    }
}

