.rad-ui-callout {
    padding:16px;
    border-radius:8px;
     background-color: var(--rad-ui-color-accent-200);
     color: var(--rad-ui-color-accent-950);
     display: flex;
     align-items: center;
     font-weight: 300;
     font-size: 14px;
     gap:8px;
 }