.rad-ui-card{
    border: 1px solid var(--rad-ui-color-gray-400);
    padding: 12px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 1px var(--rad-ui-color-gray-200);

    &[data-card-variant="outline"]{
        background-color: var(--rad-ui-color-gray-200);
        border: 1px solid var(--rad-ui-color-gray-800);
       
    }

    &[data-card-variant="soft"]{
        border: 1px solid var(--rad-ui-color-gray-400);
        background-color:  var(--rad-ui-color-gray-200);

      
    }


    /** Card Sizes */
    &[data-card-size="small"]{
        font-size: small;
        padding: 4px 8px;
        height: 3rem;
    }

    &[data-card-size="medium"]{
        font-size: medium;
        padding: 4px 12px;
        height: 3.5rem;
    }

    &[data-card-size="large"]{
        font-size: large;
        padding: 4px 16px;
        height: 4rem;
    }

    &[data-card-size="x-large"]{
        font-size: x-large;
        padding: 4px 24px;
        height: 4.5rem;
    }
}

