.rad-ui-checkbox-group-root {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; // space-y-3
}

.rad-ui-checkbox-group-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem; // gap-2
  font-size: 0.875rem; // text-sm
  font-weight: 500; // font-medium
  color: var(--rad-ui-text-primary);
  cursor: pointer;
  
  &:hover {
    color: var(--rad-ui-text-primary);
  }
  
  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.rad-ui-checkbox-group-trigger {
  height: 1rem; // h-4
  width: 1rem; // w-4
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid var(--rad-ui-border-default);
  background-color: var(--rad-ui-surface-panel);
  color: var(--rad-ui-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  &:focus-visible {
    outline: none;
    box-shadow: var(--rad-ui-ring-shadow-sm);
  }
  
  &[data-state="checked"] {
    background-color: var(--rad-ui-color-accent-800);
    border-color: var(--rad-ui-color-accent-600);
    color: var(--rad-ui-color-accent-50);
  }
  
  &[data-disabled],
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
  
}

.rad-ui-checkbox-group-tick-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentcolor;
  
  svg {
    height: 0.75rem; // h-3
    width: 0.75rem; // w-3
  }
}
