.rad-ui-code{
    color: var(--rad-ui-color-accent-950);
    background-color: var(--rad-ui-color-accent-400);
    padding: 1px 10px; // Add space for readability
    display: inline-block;
    border-radius: 4px;
    font-size:12px;

    
    &[data-code-variant="outline"]{
        background-color: transparent;
        color: var(--rad-ui-color-accent-900);
        border: 1px solid var(--rad-ui-color-accent-900);

       
    }

    &[data-code-variant="soft"]{
        border-top: 1px solid var(--rad-ui-color-accent-600);
        border-left: 1px solid var(--rad-ui-color-accent-600);
        border-right: 1px solid var(--rad-ui-color-accent-600);
        border-bottom: 1px solid var(--rad-ui-color-accent-600);
        color: var(--rad-ui-color-accent-950);
        background-color:  var(--rad-ui-color-accent-400);

      
    }


    /** Code Sizes */
    &[data-code-size="small"]{
        font-size: small;
        padding: 2px 8px;
        height: 24px;
    }

    &[data-code-size="medium"]{
        font-size: medium;
        padding: 4px 12px;
        height: 32px;
    }

    &[data-code-size="large"]{
        font-size: large;
        padding: 4px 16px;
        height: 40px;
    }

    &[data-code-size="x-large"]{
        font-size: x-large;
        padding: 4px 24px;
        height: 48px;
    }
}