.rad-ui-code{
    color: var(--rad-ui-color-accent-950);
    background-color: var(--rad-ui-color-accent-400);
    padding: 1px 10px; // Add space for readability
    display: inline-block;
    border-radius: 4px;
    font-size:12px;
}