.rad-ui-collapsible {
  .rad-ui-collapsible-trigger {
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--rad-ui-color-gray-1000);
    background-color: var(--rad-ui-color-gray-200);
    width: 100%;
  }

  .rad-ui-collapsible-content {
    padding: 10px;
    border-radius: 12px;
    background-color: var(--rad-ui-color-gray-200);
    color: var(--rad-ui-color-gray-1000);
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    
    &[data-state="closed"] {
      // add collapsed styles here
      height: 200px;
      overflow: hidden;

      &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        inset: 0;
        background: linear-gradient(
          180deg,
          #0000,
          var(--rad-ui-color-gray-200) 70%
        );
        opacity: 0.9;
        height: 200px;
        bottom: 0;
      }
    }

    &[data-state="open"] {
      // add expanded styles here
      height: auto !important;
    }
  }
}
