.rad-ui-collapsible-root{
    width: 70%;

    .rad-ui-collapsible-header{
        display: flex;
        justify-content: space-between;
        padding: 8px;
        align-items: center;
    }

    .rad-ui-collapsible-content{
        overflow: hidden;

        &[data-state="collapsed"]{
            // add collapsed styles here
        }

        &[data-state="expanded"]{
            // add expanded styles here
        }
    }
    
    .rad-ui-collapsible-trigger{
        display: flex;
        flex-direction: column;
        align-items: center;

        .rad-ui-collapsible-button{
            height: fit-content;
        }
    }

    .rad-ui-collapsible-item{
        padding: 10px;
        border: 1px solid var(--rad-ui-color-gray-1000);
        border-radius: 5px;
        width: 100%;
        color: black;
        background: var(--rad-ui-color-accent-200);
        
        &:not(:last-child){
            margin-bottom: 10px;
        }
        }
    
    
}