.rad-ui-context-menu-root {
    position: relative;
    display: inline-block;
    width:max-content;
}

.rad-ui-context-menu-trigger {
    display: block;
	border: 2px var(--rad-ui-color-accent-500) dashed;
	color: var(--rad-ui-color-accent-700);
	border-radius: 4px;
	font-size: 15px;
	user-select: none;
	padding: 45px 0;
	width: 300px;
	text-align: center;
}

.rad-ui-context-menu-content {
    z-index: 50;
    background-color: var(--rad-ui-color-accent-50);
    border-radius: 4px;
    border: 1px solid var(--rad-ui-color-accent-400);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
width:max-content;
    display: flex;
    flex-direction: column;

    &[data-state="closed"] {
        display: none;
    }

    &:focus-visible, &:focus {
        outline: none;
    }
    
}

.rad-ui-context-menu-sub-trigger {
    font-size: medium;
    line-height: 1.4;
    color: var(--rad-ui-color-accent-900);
    padding: 8px;
    padding-left: 18px;
    user-select: none;
    outline: none;
    width:max-content;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    gap: 8px;
    background: none;
    border: none;
    transition: background 0.2s;


    &:hover {
        background-color: var(--rad-ui-color-accent-200);
    }

    &:focus-visible, &:focus {
        outline: none;
        background-color: var(--rad-ui-color-accent-300);
        box-shadow: 0 0 0 2px var(--rad-ui-color-accent-500) inset;
    }

    &[data-highlighted] {
        background-color: var(--rad-ui-color-accent-300);
        color: var(--rad-ui-color-accent-900);
    }

    &[data-disabled] {
        color: var(--rad-ui-color-accent-500);
        pointer-events: none;
        opacity: 0.5;
    }
}

.rad-ui-context-menu-item {
    font-size: medium;
    line-height: 1.4;
    color: var(--rad-ui-color-accent-900);
    padding: 8px 18px;
    user-select: none;
    outline: none;
    width:max-content;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    gap: 8px;
    background: none;
    border: none;
    transition: background 0.2s;

    &:hover {
        background-color: var(--rad-ui-color-accent-200);
    }

    &:focus-visible, &:focus {
        outline: none;
        background-color: var(--rad-ui-color-accent-300);
        box-shadow: 0 0 0 2px var(--rad-ui-color-accent-500) inset;
    }

    &[data-highlighted] {
        background-color: var(--rad-ui-color-accent-300);
        color: var(--rad-ui-color-accent-900);
    }

    &[data-disabled] {
        color: var(--rad-ui-color-accent-500);
        pointer-events: none;
        opacity: 0.5;
    }

    &[aria-selected="true"] {
        background-color: var(--rad-ui-color-accent-400);
        color: var(--rad-ui-color-accent-900);
        font-weight: 500;

        &:hover {
            background-color: var(--rad-ui-color-accent-500);
        }
    }
}

.rad-ui-context-menu-separator {
    background-color: var(--rad-ui-color-gray-600);
    align-self: stretch;
}

.rad-ui-context-menu-separator[data-rad-ui-accent-color] {
    background-color: var(--rad-ui-color-accent-900);
}

.rad-ui-context-menu-separator-vertical{
    margin: 0 8px;
    width: 1px;
}

.rad-ui-context-menu-separator-horizontal{
    margin: 8px 0;
    height: 1px;
}

