.rad-ui-disclosure-root{
    font-size: 1.3rem;
    color: var(--rad-ui-color-accent-900);
    // border: 1px solid var(--rad-ui-color-accent-1000);
    border-radius: 4px;

     .rad-ui-disclosure-item{
         margin-top: 10px;
         padding-left: 5px;
         
     }

}