.rad-ui-disclosure-root{
    border: 1px solid var(--rad-ui-color-accent-500);
    border-radius: 4px;
    
     .rad-ui-disclosure-item{
         margin: 10px 0;
         padding-left: 7px;

        &:focus{
            outline: none;
            border: none;
            color: black;
        }
         
        &:focus-within{
            color: var(--rad-ui-color-gray-1000);
        }
    

     .rad-ui-disclosure-trigger{
         font-weight: 600;
         color: var(--rad-ui-color-gray-1000);
         background-color: var(--rad-ui-color-accent-100);

         &:focus{
            outline: none;
            color: var(--rad-ui-color-accent-900);
        
         }
       
     }

     .rad-ui-disclosure-content{
        background-color: var(--rad-ui-color-gray-100);
        color: var(--rad-ui-color-gray-1000);

     }
    }
}