.rad-ui-disclosure-root{
    color: var(--rad-ui-color-accent-1000);
    border: 1px solid var(--rad-ui-color-accent-500);
    border-radius: 4px;
    
     .rad-ui-disclosure-item{
         margin: 10px 0px 10px;
         padding-left: 7px;
         border-radius: 4px;
         
     }
     .rad-ui-disclosure-trigger{
         font-weight: 800;
       
     }
     .rad-ui-disclosure-content{
         color: var(--rad-ui-color-accent-1000);
     }
}