
.rad-ui-h1{
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -3.5px;
    line-height:72px;
}

.rad-ui-h2{
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -3px;
    line-height:42px;
}

.rad-ui-h3{
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -2px;
    line-height:34px;
}

.rad-ui-h4{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -1px;
    line-height:24px;
}

.rad-ui-h5{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height:24px;
}

.rad-ui-h6{
    font-weight: bold;
    font-size: 18px;
    line-height:24px;
}