.rad-ui-link {
    color: var(--rad-ui-color-accent-800);
    cursor: pointer;
}
.rad-ui-link:hover {
    color: var(--rad-ui-color-accent-900);
    text-decoration: underline;
    text-decoration-color: var(--rad-ui-color-accent-600);
}
