.rad-ui-popover {
    background-color: var(--rad-ui-color-gray-50);
    padding: 12px;
    box-shadow: 0 10px 38px -10px #0e121659, 0 10px 20px -15px #0e121633;
    border-radius: 8px;

    .rad-ui-popover-arrow {
        fill: var(--rad-ui-color-gray-50);
    }
}
