// ToDo: fix css hierarchy
.rad-ui-progress {
    background:  var(--rad-ui-color-sand-600);
    overflow: hidden;
    height:32px;
    border-radius: 8px;
}

.rad-ui-progress-indicator {
    background: var(--rad-ui-color-green-900);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transform: translateX(var(--progress-value));
    transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}