.rad-ui-radio-group{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--rad-ui-color-accent-900);
    
    .rad-ui-radio-group-item{
        display: flex;
        align-items: center;
        gap: 12px;
            width: 20px;
            height: 20px;
            position:relative;
            display:inline-flex;
            align-items:center;
            justify-content:center;
            flex-shrink:0;
            outline:none;
            margin:0;
            border:none;

            &::before{
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: var(--rad-ui-color-accent-900);
            }

            &[data-checked="true"]{
               &::after{
                content: '';
               }
            }

            &::after{
                display: inline-block;
                position: absolute;
                transform: scale(0.4);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: var(--rad-ui-color-accent-400);
            }
        
      
    }
}
