.rad-ui-scroll-area {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .rad-ui-scroll-area-viewport {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        
        // Hide scrollbars
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .rad-ui-scroll-area-scrollbar {
        position: absolute;
        display: flex;
        user-select: none;
        touch-action: none;
        padding: 2px;
        background: transparent;
        transition: background 160ms ease-out;
        z-index: 10;

        &[data-orientation="vertical"] {
            width: 10px;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &[data-orientation="horizontal"] {
            flex-direction: column;
            height: 10px;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &:hover {
            background: var(--rad-ui-color-gray-100);
        }

        .rad-ui-scroll-area-thumb {
            flex: 1;
            background: var(--rad-ui-color-gray-400);
            border-radius: 9999px; // fully rounded caps
            position: relative;
            
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                min-width: 44px;
                min-height: 44px;
            }
        }
        
        &:hover .rad-ui-scroll-area-thumb {
            background: var(--rad-ui-color-gray-500);
        }
    }
}