/** Separator */
.rad-ui-separator {
    background-color: var(--rad-ui-color-gray-600);
    align-self: stretch;
   
    &[data-separator-size="small"]{
        width: 100px;
    }

    &[data-separator-size="medium"]{
        width: 200px;
    }

    &[data-separator-size="large"]{
        width: 300px;
    }

    &[data-separator-size="x-large"]{
        width: 500px;
    }
}

.rad-ui-separator[data-accent-color] {
    background-color: var(--rad-ui-color-accent-900);
}

.rad-ui-separator-vertical{
    margin: 0 8px;
    width: 1px;
}

.rad-ui-separator-horizontal{
    margin: 8px 0;
    height: 1px;
}