/** Separator */
.rad-ui-separator {
    background-color: var(--rad-ui-border-soft);
    align-self: stretch;
}

.rad-ui-separator-vertical{
    margin: 0 8px;
    width: 1px;
}

.rad-ui-separator-horizontal{
    margin: 8px 0;
    height: 1px;
}
