.rad-ui-skeleton {
    color: transparent !important;
    border-radius: var(--radius-1);
    animation: skeleton-shimmer 0.75s infinite alternate-reverse !important;
    background-image: none !important;
    background-clip: initial !important;
    border: none !important;
    box-shadow: none !important;
    box-decoration-break: clone !important;
    outline: none !important;
    pointer-events: none !important;
    user-select: none !important;
    cursor: default !important;

    &[data-height] {
        height: attr(data-height px);
      }

    &[data-width] {
        width: attr(data-width px);
    }

    @keyframes skeleton-shimmer {
        0% {
            background-color: var(--rad-ui-color-gray-200);
        }

        100% {
            background-color: var(--rad-ui-color-gray-400);
        }
    }
}