.rad-ui-slider{
    .rad-ui-slider-track{
        height: 4px;
        background-color: var(--rad-ui-color-gray-1000);
        border-radius: 9999px;
        position: relative;
        cursor: pointer;
    }
    .rad-ui-slider-range{
        height: 100%;
        background-color: var(--rad-ui-color-blue-900);
        border-radius: 9999px;
    }
    .rad-ui-slider-thumb{
        width: 24px;
        height: 24px;
        background-color: var(--rad-ui-color-gray-50);
        border-radius: 9999px;
        border: 1px solid var(--rad-ui-color-gray-900);

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}