.rad-ui-steps {
    .rad-ui-steps-item {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .rad-ui-steps-track {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            
            .rad-ui-steps-bubble {
                border: 1px solid var(--rad-ui-color-accent-400);
                background-color: var(--rad-ui-color-accent-300);
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: inline-flex;
                flex:none;
                align-items: center;
                justify-content: center;
                position: relative;
                top:4px;
                font-size: 12px;
                color: var(--rad-ui-color-accent-950);
                box-shadow: 0 1px 4px rgba(0,0,0,0.06);

            }

            .rad-ui-steps-line {
                border: 1px solid var(--rad-ui-color-accent-400);
                width: 1px;
                height: 100%;
            }

        }

        .rad-ui-steps-content {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding-bottom: 0px;
            
            .rad-ui-steps-title {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--rad-ui-color-accent-950);
            }

            .rad-ui-steps-description {
                font-size: 12px;
                color: var(--rad-ui-color-accent-900);
            }
        }


    }
}