.rad-ui-switch{
    all: unset;
    position: relative;
    width: 42px;
    height: 21px;
    border-radius: 1rem;
    background-color: var(--rad-ui-color-accent-900);

    &:focus-visible{
        offset: 2px;
        outline: 4px solid var(--rad-ui-color-accent-500);
    }

    .rad-ui-switch-indicator{
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: var(--rad-ui-color-accent-500);
        width: 18px;
        height: 18px;
        border-radius: 1rem;
        background-color: var(--rad-ui-color-accent-500);
        transition: 200ms ease-in-out;
        transform: translateX(2px);
        &[data-state="checked"]{
            transform: translateX(22px);
        }
    }
}