.rad-ui-toggle-group {
    display: inline-flex;
    gap:6px;
    
    button {
        all: unset;
        background-color: var(--rad-ui-color-gray-50);
        color: #65636d;
        height: 35px;
        width: 35px;
        display: flex;
        font-size: 15px;
        line-height: 1;
        align-items: center;
        justify-content: center;
        margin-left: 1px;
        border-radius: 4px;
        border: 1px solid var(--rad-ui-color-accent-300);

        &:focus-visible {
            outline: 2px solid var(--rad-ui-color-accent-900);
            outline-offset: 2px;
        }

        &[aria-pressed="true"] {
            background-color: var(--rad-ui-color-accent-900);
            color: white;
        }
    }
}