.rad-ui-toggle{
    color: #65636d;
    background-color: var(--rad-ui-color-gray-50);
    height: 35px;
    width: 35px;
    border-radius: 4px;
    display: flex;
    font-size: 15px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--rad-ui-color-accent-300);

    &:focus-visible {
        outline: 2px solid var(--rad-ui-color-accent-900);
        outline-offset: 2px;
    }

    &[aria-pressed="true"] {
        background-color: var(--rad-ui-color-accent-900);
        color: white;
    }
}  