.rad-ui-tree{
    .rad-ui-tree-item{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-left: 16px;
        padding-right: 16px;
        background-color: var(--rad-ui-surface-panel);
        border-radius: var(--rad-ui-radius-sm);
        border: 1px solid transparent;
        font-size: 0.9375rem;
        font-weight: 500;
        color: var(--rad-ui-text-primary);
        cursor: pointer;
        transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: var(--rad-ui-surface-subtle);
        }

        &:focus-visible, &:focus {
            outline: none;
            background-color: var(--rad-ui-surface-subtle);
            box-shadow: var(--rad-ui-ring-shadow);
        }

        &[data-toggled="true"] {
            background-color: var(--rad-ui-surface-subtle);
        }

        &[data-selected="true"] {
            background-color: var(--rad-ui-color-accent-100);
            border-color: var(--rad-ui-color-accent-500);
        }

        &[data-disabled="true"] {
            color: var(--rad-ui-text-muted);
            pointer-events: none;
            opacity: 0.5;
        }
        
        &[data-level="1"] {
            padding-left: 32px;
        }

        &[data-level="2"] {
            padding-left: 64px;
        }

        &[data-level="3"] {
            padding-left: 96px;
        }

        &[data-level="4"] {
            padding-left: 128px;
        }

        &[data-level="5"] {
            padding-left: 160px;
        }

        &[data-level="6"] {
            padding-left: 192px;
        }
    }
}
