name: Build RAD UI

on:
  pull_request:
    branches: [ main, security-fixes ]
    paths:
      - 'src/**'  # Only run when files in this directory change
      - 'styles/**'
      - 'package.json'
      - 'package-lock.json'
      - 'scripts/**'
      - 'rollup.config.cjs'
      - 'rollup-css.config.cjs'
      - 'rollup-tokens.config.cjs'
      - 'tsconfig.json'
      - 'postcss.config.js'
      - 'tsconfig.json'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
      
    - name: Build
      run: npm run build:rollup
